body{

    /* background-color:  #010c0d; */
    margin: 0px;
    padding: 0px;
    background-image: url("http://www.alienresearchcorp.com/space/hd-wallpapers/amazing/img/l/moment-in-space-cvi.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.nav.navbar-nav.navbar-right a{
    
    color: #ffffff;
}

.nav.navbar-nav.navbar-right a:hover{

    background-color:#719531; 
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border: 1px solid;
}

.banner_content {
    background: #719531 none repeat scroll 0 0;
    font-size: 40px;
    padding: 50px 0;
    color: #ffffff;
    text-align: center;
    text-transform: capitalize;
}

/*.banner_content_wrapper {
    background: #ffffff none repeat scroll 0 0;
    box-sizing: border-box;
    color: #473f3f;
    margin: 10px 0;
}*/
.navbar-nav > li > a {
    padding-bottom: 8px!important;
    padding-top: 8px;
}

.banner_content_wrapper div {
    padding-left: 0;
    padding-right: 0;
}

.banner_description {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid;
    box-sizing: border-box;
    padding: 25px;
}

.client_head {
    padding: 50px;
    text-align: center;
    text-transform: capitalize;
}

.clients_description {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-top: 20px;
}
.logo{
   height: 100%;
    width: 75%;
    padding-left: 20%;
}
header{
    z-index: 20;
    position: absolute;
    height: 15%;

}
#bs-example-navbar-collapse-1 {
    margin-top: 15px;
}
.banner_coming_soon {
    background: #719531 none repeat scroll 0 0; 
    padding-bottom: 45px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 25px;
    color: #ffffff;
    text-transform: capitalize;
}
.banner_coming_soon_content {
    background: #719531 none repeat scroll 0 0;  
    color: #ffffff;
    text-transform: capitalize;
    font-family: helvetica;
    font-size: 17px;
    text-align: left
}
.form-group {
    float: left;
    margin-right: 10px;
    width: 90%;
}
.input_email {
    background-color: transparent !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    height: 45px !important;
    color: #FFFFFF!important;

}
.btn.btnmod {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    color: #719531;
    height: 45px;
}
::-webkit-input-placeholder {
   color: #FFFFFF!important;
}
:-moz-placeholder { /* Firefox 18- */
   color: #FFFFFF!important;  
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #FFFFFF!important;  
}
:-ms-input-placeholder {  
   color: #FFFFFF!important;  
}

@media  (max-width: 768px){

#chat{
    display: none;
}
#order{
    display: none;
}

}