/*//////////////////////////////////////////////////////////////////////////////////////////*/
/* COLOR CSS 1*/
/*//////////////////////////////////////////////////////////////////////////////////////////*/

a {
	color: #e5001c;
}
html .nav > li > a:hover, html .nav > li > a:focus {
	color: #e5001c;
}
html .pre-footer {
	background: none repeat scroll 0 0 #e5001c;
}
html .after-heading-info, .highlight_text {
	color: #e5001c;
}
html .bx-wrapper .bx-next {
	background: #e5001c !important;
}
html .bx-wrapper .bx-next {
	background: #e5001c !important;
}
html .full-title.banner-full-width {
	background-color: #e5001c
}
html .featured-item-simple-icon::after {
	border-color: #e5001c;
}
html .top-cart i, html .top-cart .icon-basket {
	color: #e5001c;
}
html .dropdown-menu > li > a:hover, html .dropdown-menu > li > a:focus {
	background-color: #e5001c
}
html .title-action a {
	background: none repeat scroll 0 0 #e5001c !important;
	border-color: #e5001c !important;
}
html .full-title-name .btn {
	background: none repeat scroll 0 0 #e5001c!important;
	border-color: #e5001c !important;
}
html .marked_list1 li:before {
	color: #e5001c;
}
html .woocommerce #respond input#submit, html .woocommerce a.button, html .woocommerce button.button, html .woocommerce input.button {
	background-color: #e5001c !important;
	border-color: #e5001c !important;
}
html .product-info .nav-tabs > li.active a, html .product-info .nav-tabs > li:hover a {
	background: #e5001c !important;
	color: #fff !important;
	outline: none !important;
	border: 1px solid #e5001c;
}
html .product-info .nav-tabs {
	border-top-color: #e5001c;
}
html .nav > li > a:hover, html .nav > li > a:focus {
	color: #e5001c;
}
html .label-sale, .label-hot, html .label-not-available, html .label-best {
	color: #526aff;
}

html a {
  color: #e5001c;
}

.box-date-post .date-2 {
   color: #e5001c;
}

html body  .type-post.sticky:after {
		color: #e5001c;

}

/*//////////////////////////////////////////////////////////////////////////////////////////*/
/* COLOR CSS 2*/
/*//////////////////////////////////////////////////////////////////////////////////////////*/

html .btn-link,html  .view-post-btn {
  color: #2689dd !important;
}
html .demo_changer .demo-icon {
	background: #2689dd;
}
html .woocommerce nav.woocommerce-pagination ul li a:focus, html .woocommerce nav.woocommerce-pagination ul li a:hover, html .woocommerce nav.woocommerce-pagination ul li span.current {
	background: #2689dd !important;
}
html .pagination li, html .woocommerce-pagination li {
	border-color: #2689dd !important;
}
html .tagcloud a:hover {
	background: #2689dd !important;
}
html .title-option {
	background: #2689dd;
}
html .ip-header .ip-loader svg path.ip-loader-circle {
	stroke: #2689dd !important;
}
.yamm {
	background-color: #2689dd;
}
.yamm .dropdown-menu h1:after, .yamm .dropdown-menu h2:after, .yamm .dropdown-menu h3:after, .yamm .dropdown-menu h4:after, .yamm .dropdown-menu h5:after, .yamm .dropdown-menu h6:after {
	border-color: #2689dd !important;
}
html .banner-full-width .btn.btn-primary {
	background-color: #2689dd;
	border-color: #2689dd;
	color: #ffffff;
}
html .full-title-name {
	background-color: #2689dd;
}
html .carousel-text a.btn-read-more.btn {
	color: #2689dd;
}
html a.btn-read-more.btn {
	color: #ffc300;
}
html .btn-primary, html .wpcf7-submit {
	background-color: #2689dd;
	border-color: #2689dd;
}
html .service-icon {
	border-color: #2689dd;
}
html .service-item:hover .service-icon {
	background-color: #2689dd;
}
html .pre-footer:hover {
	background-color: #2689dd;
}
.footer-shop .widgettitle:after {
	border-bottom: 1px solid #2689dd;
}
html .footer-absolute {
	background-color: #2689dd;
}
html .no-bg-color-parallax.parallax-yellow .bg-slideshow:after {
	background-color: rgba(229, 0, 28, 0.7);
}
html .btn-location-open i {
	color: #fff;
}
html .product-grid li:hover .product-bottom .btn-group .btn {
	background-color: #2689dd;
	border-color: #2689dd;
}
html .pp-content:hover {
	background: none repeat scroll 0 0 #2689dd;
}
html .pp-content:hover .arrow {
	border-color: #2689dd;
}
html .parallax-black .service-item .fa::before {
	color: #2689dd;
}
html .btn-download {
	background: #2689dd;
	color: #fff !important;
}
html body aside .widget_nav_menu li:before, html body aside .widget_product_categories li:before {
	color: #2689dd;
}
html aside .widget_nav_menu li:hover, aside .widget_product_categories li:hover {
	border-left-color: #2689dd;
}
.info-desc {
	border: 7px solid #2689dd;
	box-shadow: 1px 1px 3px #2689dd inset;
}
html .info-desc:after {
	background: none repeat scroll 0 0 #2689dd;
}
html .info-desc:before {
	background: none repeat scroll 0 0 #2689dd;
}
html .info-desc td i {
	color: #2689dd;
}
html .marked_list2 li:before {
	color: #2689dd;
}

html  blockquote {
  border-left: 3px solid #2689dd;
}
/*//////////////////////////////////////////////////////////////////////////////////////////*/
/* COLOR OTHER*/
/*//////////////////////////////////////////////////////////////////////////////////////////*/

html .banner-full-width {
	background: none;
	color: #333333;
	border-top: #eeeeee 1px solid;
	border-bottom: #eeeeee 1px solid;
}
html .banner-full-width p {
	color: #333333;
}
html .banner-full-width .btn {
	border-color: #333333;
	color: #333333;
}




