/*//////////////////////////////////////////////////////////////////////////////////////////*/
/* Debugged CSS  */
/*//////////////////////////////////////////////////////////////////////////////////////////*/

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,400italic|Raleway:400,300,500,600,700,800);

.vc_custom_1436733949861 {
	z-index: 777;
}
#navbar-collapse-1 .navbar-nav > ul > li {
	display: inline-block;
}
.vc_custom_1443633924805 {
	position: relative;
	z-index: 777;
}
.services-details__foto img {
	min-width: 850px;
	height: auto;
}
.btn-group-top-desctop li {
	position: relative;
}
.btn-group-top-desctop li.fa {
	padding-left: 7px;
}
.btn-group-top-desctop li:before {
	position: absolute;
	left: 0;
	top: 10px;
	color: #f26529;
	float: left;
	z-index: 7;
}
html #filter {
	margin-top: -68px;
	padding-left: 0 !important;
	margin-bottom: 50px;
	height: 80px;
	margin-left: 0 !important;
}
html .footer__inner {
	padding-top: 50px;
}
.video-black .vc_video-bg:after, .vc_video-bg:after {
	background-color: rgba(0, 0, 0, 0.82);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: '';
}
.video-blue .vc_video-bg:after {
	background-color: rgba(41, 134, 226, 0.8) !important;
}
.icon-tabs-wrapper .tab-content > .tab-pane {
	border-bottom: 0 !important;
}
.pix-bg-image-wrapper {
	position: relative;
	display: inline-block;
	width: 100%;
	top: -80px;
}
.wrap-counters .fa-thumbs-up:before {
	margin-top: -10px;
}
.pix-bg-image-left, .pix-bg-image-right {
	position: absolute;
	z-index: 100;
}
/*ROW SETTINGS*/

.pix-overflow {
	overflow: hidden;
}
.pix-overflow-x {
	overflow-x: hidden;
}
.pix-overflow-y {
	overflow-y: hidden;
}
html .article-short .category {
	margin-top: 15px;
}
html .article-short .btn_small {
	margin-top: 0px
}
.hero-module {
	    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 700px;
    overflow: hidden;
}

.ui-title-page.bg_title.bg_transparent {
    overflow: hidden;
}
.hero-module video {
	width: 100%;
	height: auto;
}
.hero-module:after {
	content: '';
	display: inline-block;
	width: 100%;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	background-color: rgba(41, 134, 226, 0.7);
}


html .services__item {
    height: auto !important;
}

/*24.10.2015*/

.layout-boxed-wrap {
    background-color: #ccc
}

.header{
	background:#fff;
}


/*26.10.2015*/

.ui-text  strong , .ui-text  bold {
	font-weight:bold;
}


.top-header__links a{
		font-family:'Lato';	
}

html i.icon {
    display: inline-block;
    width: auto;
    height: auto;
    line-height: 16px;
    vertical-align: text-top;
    margin-left: auto;
}
html .wpb_row {
    margin-bottom: 0;
}

/*04.10.2015*/

.page-template-fullwidth  .footer__inner    {
    padding-left: 0px;
    padding-right: 0px;
}

.footer__inner  {
    padding-left: 15px ;
    padding-right: 15px;
}