/* ************************************************   
Theme Name: health
Author: Templines
Version: 1.4.2
License: See on zip package
License URI: See on zip package
Description: Healthcare Agency is a Multipurpose Medical and Health related design suitable for medical and health related businesses or any corporate websites in this field. It also fits for medical centers, dentists, doctors, general practice, health care or a hospital
Theme URI:  templines.com
Author URI: templines.com
Tags: blue , blue , orange , white
*/







/*WORDPRESS*/
.alignright {
	text-align: right;
}
.alignleft {
	text-align: left;
}
.aligncenter {
	text-align: center;
}
#wp-calendar {
	width: 100%;
}
#wp-calendar td, #wp-calendar th {
	border: 1px solid #eee;
	padding: 5px;
	text-align: center;
}
.ui-text ul, .ui-text ol {
	margin-left: 10px;
}
.ui-text h1, .ui-text h2, .ui-text h3, .ui-text h4, .ui-text h5, .ui-text h6 {
	color: #333;
}
/*WIDGETS*/


.sidebar .block_content ul li ul {
	margin-left: 25px;
}
.block_content ul li {
	display: inline-block;
	list-style: outside none none;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 100%;
}
.block_content ul {
	margin: 0;
	padding: 0px 0 0 0;
	color: #888888;
	font-size: 14px;
}
.block_content ul li {
	display: inline-block;
	list-style: outside none none;
	width: 100%;
}

.block_content  select{
	max-width:100%;
}


 
 
.block_content a {
	color: #888888;
	font-size: 14px;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}
.block_content {
	color: #888888;
	font-size: 14px;
}
aside .nav-tabs {
	border: none !important;
}
.widget_pixhealth_totalposts .nav-tabs li, .widget_pixhealth_totalposts .nav-tabs li a {
	background: none !important;
	color: #333 !important;
}
.widget_pixhealth_totalposts .nav-tabs > li.active > a:before {
	display: none !important;
}
/*CAPTION*/


.wp-caption {
	max-width: 100%;
	list-style: none;
	background: none;
}
.wp-caption-text {
	list-style: none;
	padding: 10px;
	background: none;
}
.gallery-caption {
	list-style: none;
	background: none;
}
.bypostauthor {
	list-style: none;
	background: none;
}
.sidebar .block_content img {
	height: auto;
	margin: 10px 0 10px;
	max-width: 100%;
}
/*TAGS*/

.wp-tag-cloud {
	margin-left: -5px !important;
	display: inline-block;
}
.tagcloud li {
	    float: left;
    margin: 1px 3px!important;
    width: auto !important;
}
.tagcloud {
	clear: both;
}
html .tagcloud a {
	display: inline-block;
	text-transform: none;
	padding: 5px 14px !important;
	font-size: 12px !important;
	font-weight: 400;
	color: #343434;
	border: 1px solid #eee;
	margin: 7px 0;
	border-radius: 17px;
}
html .tagcloud a:hover {
	color: #fff;
	background-color: #f26529;
}
.tagcloud li:hover a {
	color: #fff!important
}
/*RSS*/

.rsswidget img {
	position: relative;
	top: -2px;
	margin-right: 5px !important;
}
.rssSummary {
	    background: #f9f9f9;
    color: #888888;
    margin: 10px 0;
    padding: 15px;
    font-size: 14px;
}
.sidebar .menu .dropdown-menu {
	display: none !important;
}
/*TABS WIDJETS*/

#pop img, #rec img {
	    width: 100%;
    max-width: inherit;
    margin: 0;
}
aside .nav-tabs li {
	margin: 0 !important;
	padding: 0;
	width: 30% !important;
}
aside .nav-tabs li a {
	padding: 10px 5px !important;
	text-align: center;
	border: none;
	font-weight: normal;
	color: #888888;
}
aside .nav-tabs {
	margin-bottom: 15px;
}
aside .nav-tabs li.active a {
	border: none !important;
	color: #333;
}
aside .icon-calendar {
	margin-right: 7px;
	font-size: 12px;
}
.block_content .media-heading a {
	color: #777 !important;
}

.block_content  .media-body p{
	color: #777 !important;
}

.media-tab-comment {
	margin-bottom: 15px;
}
.media-tab-comment img {
	margin: 0 20px 10px 0 !important;
}
.media-tab-comment .media-body {
	background: #f2f7f9;
	padding: 10px;
	color: #888888;
}
.main-content table td, .main-content table th {
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 6px 12px;
	vertical-align: middle;
}
.list-style-check, .marked_list1 ul ul, .marked_list2 ul ul {
	margin: 0;
	padding: 0 0 0 20px;
}
.widget_search input[type=text] {
	width: 100%;
}



.page  .main-content   ul , .page  .main-content  ol , .ui-text ul ,  .ui-text ol , .content-comment ul , .content-comment ol{ 
	margin-left:20px;
}

.entry-main iframe{
	max-width:100%;
}

.footer__inner .container .container{
   width: 100%;
    margin: 0;
    padding: 0;
}


.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alignleft {
	float: left;
	margin: 0.5em 1em 0.5em 0;
}

.alignright {
	float: right;
	margin: 0.5em 0 0.5em 1em;
}


.bg_transparent.bg_title::after {
    background-color: #007a00!important;
}

 .btn{
background-color: #007a00!important;
}

.navbar.yamm{
display:none;
}