html{
  overflow-x: hidden;
}
.parallax-body {
 /*  background-color: #010c0d; */
  height: 655px;
  margin: 0;
  z-index: 1;
  
}

.parallax-body {
  padding: 50px 0;
}

/* .axis {
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  z-index: 100;
} */

.planet {
   background-size: cover;
    left: 28%;
    position: absolute;
    top: 73%;
}

#background {
    background-image: url("http://img.wallpaperfolder.com/f/52A8ADBDE85F/space-wide-1920x1200-art.jpg");
     background-repeat: no-repeat;
     background-size: cover;  
  bottom: -20%;
  left: -10%;
  position: absolute;
  right: -10%;
  top: -20%;
}

/* #x-axis {
  bottom: -50%;
  left: 50%;
  top: -50%;
  width: 1px;
}

#y-axis {
  left: 0;
  top: 50%;
  right: 0;
  height: 1px;
}
 */
#chat {
  margin: -75px 0 0 -75px;
  height: 150px;
  width: 219px;
 background-image: url("../images/chat.png");
  z-index: 20;
}

#earth {
  margin: -100px 0 0 -100px;
  height: 235px;
  width: 235px;
 background-image: url("../images/Layer-12.png");
  z-index: 10;
}
/*  #earth{
 margin: -100px 0 0 -100px;
 height: 269px;
 width: 267px;
 background-image: url("../img/Layer-12.png");
 z-index: 10;
}
.earth-planet {
      background-size: cover;
   left: 21%;
   position: absolute;
   top: 65%;
} */
#hero-fly{
  margin: -100px 0 0 -100px;
  height: 357px;
   width: 354px;
  background-image: url("../images/hero-flying-copy.png");
  z-index: 11;

}
.hero-fly-planet{
   background-size: cover;
    left: 41%;
    position: absolute;
    top: 32%;
  }
/* #chat{
   margin: -100px 0 0 -100px;
  height: 204px;
  width: 297px;
  background-image: url("../img/chat.png");
  z-index: 10;

}*/
.chat-planet{
    background-size: cover;
    left: 65%;
    position: absolute;
    top: 32%;
} 
#order{
  margin: -100px 0 0 -100px;
  height: 151px;
  width: 380px;
  background-image: url("../images/Group-4.png");
  z-index: 10;

}
.order-planet{
   background-size: cover;
    left: 55%;
    position: absolute;
    top: 79%;

}

