body{

	/* background-color:  #010c0d; */
	margin: 0px;
	padding: 0px;
    background-image: url("http://www.alienresearchcorp.com/space/hd-wallpapers/amazing/img/l/moment-in-space-cvi.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.nav.navbar-nav.navbar-right a{
	
	color: #ffffff;
}

.nav.navbar-nav.navbar-right a:hover{

	background-color:#719531; 
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border: 1px solid;
}

.banner_content {
    background: #719531 none repeat scroll 0 0;
    font-size: 40px;
    padding: 50px 0;
    color: #ffffff;
    text-align: center;
    text-transform: capitalize;
}

/*.banner_content_wrapper {
    background: #ffffff none repeat scroll 0 0;
    box-sizing: border-box;
    color: #473f3f;
    margin: 10px 0;
}*/
.navbar-nav > li > a {
    padding-bottom: 8px!important;
    padding-top: 8px;
}

.banner_content_wrapper div {
    padding-left: 0;
    padding-right: 0;
}

.banner_description {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid;
    box-sizing: border-box;
    padding: 25px;
}

.client_head {
    padding: 50px;
    text-align: center;
    text-transform: capitalize;
}

.clients_description {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-top: 20px;
}
.logo{
   height: 100%;
    width: 75%;
    padding-left: 25%;
}
header{
    z-index: 20;
    position: absolute;
    height: 15%;

}
#bs-example-navbar-collapse-1 {
    margin-top: 15px;
}