/* ************************************************   
Theme Name: X-Sport
Author: Pix-theme
Version: 1.0
Description: X-Sport it's wordpress e-commerce template.
Theme URI:  templines.com
Author URI: templines.com
Tags: red , green , white
************************************************ */

@charset "utf-8";
/* CSS Document */

.pixhealth_event_entry{
    margin-bottom: 21px;
}
 
.pixhealth_event_entry h4{
    margin-bottom: 3px;
}
 
.pixhealth_event_entry h4 a{
    text-decoration: none;
    color: inherit;
}
 
.pixhealth_event_entry .event_venue{
    font-size: 0.9em;
    color: #777777;
    font-weight: normal;
    font-style: italic;
}
 
.pixhealth_event_entry p{
    margin-bottom: 3px !important;
}
 
.pixhealth_event_entry .pixhealth_event_date{
    font-size: 0.9em;
    color: #777777;
}