/*------------------------------------------------------------------
[Table of contents]
- Page Heading
- Sidebar
-  Blog
-  Post Page
- Comments
-------------------------------------------------------------------*/

/*01. Page Heading*/


.page-title {
	font-size: 22px;
	color: #000;
	text-transform: uppercase;
}


/*02 Sidebar */

.widget-title {
	margin-top: 47px;
	margin-bottom: 15px;
	padding-bottom: 23px;
	font-family: Raleway;
	font-size: 15px;
	font-weight: 700;
	line-height: 1.3;
	color: #2986e2;
	border-bottom: 1px solid #eee;
	text-transform: uppercase;
}

.widget-post__item {
	margin-top: 30px;
}
.widget-post .entry-header {
	margin-top: 0;
}
.widget-post .entry-main {
	margin-left: 100px;
}
.widget-post .entry-thumbnail {
	float: left;
}
.widget-post .entry-header a {
	font-family: Raleway;
	font-size: 14px;
	font-weight: 600;
	line-height: 1.4;
	color: #343434;
}

.widget-post .meta {
	display: inline-block;
	margin-right: 21px;
	font-size: 11px;
	font-weight: 400;
	color: #888;
}
.widget-post .meta a {
	color: #888;
}

.widget-post .meta a:hover {
	text-decoration: none;
}
.widget-post .meta .icon {
	margin-right: 8px;
	font-size: 14px;
	vertical-align: middle;
}


.widget-cloud {
	margin-top: 25px;
	margin-bottom: 43px;
}
.wp-tag-cloud {
	margin-top: 27px;
	overflow: hidden;
}
.widget-cloud .wp-tag-cloud > li > a {
	float: left;
	margin-right: 4px;
	margin-bottom: 8px;
	padding: 9px 21px;
	font-family: Raleway;
	font-size: 11px;
	font-weight: 400;
	color: #343434;
	border: 1px solid #eee;
	border-radius: 17px;
	transition: all 0.3s;
	text-align: center;
}
.widget-cloud .wp-tag-cloud > li > a:hover {
	color: #fff;
	border-color: #f26529;
	background-color: #f26529;
	text-decoration: none;
}
.widget-text {
	margin-top: 25px;
	margin-bottom: 30px;
}
.widget-search {
	margin-top: 70px;
}

.table-hours_blog {
	width: 100%;
	font-weight: 300;
	color: #525252;
}
.table-hours_blog strong {
	font-weight: 700;
}
.table-hours_blog tr td {
	padding-bottom: 8px;
}
.table-hours .line-bottom {
	display: block;
	width: 62px;
	margin-right: 23px;
	margin-left: 19px;
	padding-top: 11px;
	border-bottom: 1px solid #777;
}

/*03  Blog */




.type-post.sticky:after {
      content: "\e031";
    font-family: 'Simple-Line-Icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    color: #2986e2;
    font-size: 31px;
    height: 20px;
    position: absolute;
     right: -12px;
    text-transform: none;
    top: -23px;
    width: 20px;
    z-index: 777;
}


.post {
	position: relative;
	margin-top: 50px;
	margin-bottom: 55px;
	margin-left: 100px;
}
.post:first-child {
	/*margin-top: 70px;*/
}

.post_format-post-format-quote{
	margin-top: 75px;
}

 .entry-autor {
  margin-top: -40px;
  text-align: center;
  position: relative;
  z-index: 7;
}
 .entry-autor img {
	border-radius: 50%;
	box-shadow: 0 0 0 5px#fff;
}
.entry-title {
	margin-top: 40px;
	margin-bottom: 20px;
	font-family: Raleway;
	font-size: 26px;
	font-weight: 400;
	line-height: 1.4;
	color: #333;
}
.entry-content + .entry-content {
	margin-top: 35px;
}
.entry-img + .entry-content {
	margin-top: 40px;
}
.entry-img {
	margin-top: 45px;
	margin-right: 28px;
}
.post-quotes{
	margin:0 !important ;
	
}

.entry-review {
  background-color: #f9f9f9;
    margin: 70px 40px 10px;
    padding: 70px 60px 60px;
    position: relative;
}
.entry-review__avatar {
	float: left;
	max-width: 80px;
	margin-right: 28px;
	border-radius: 50%;
	box-shadow: 0 0 0 5px #fff;
}
.post-quotes  .quotes {
  left: 44% !important;
}
.entry-review .quotes {
	position: absolute;
	top: -32px;
	left: 50%;
	width: 64px;
	margin-left: -32px;
	padding: 17px 0;
	font-size: 30px;
	color: #fff;
	border-radius: 50%;
	box-shadow: 0 0 0 6px #fff;
	text-align: center;
}
 .entry-review blockquote {
	font-size: 18px;
	line-height: 28.8px;
	color: #878787;
	padding-bottom: 15px;
}
.entry-review__name {
	display: block;
	padding-top: 11px;
	font-family: Raleway;
	font-size: 16px;
	font-weight: 600;
	color: #363636;
}
 .entry-review__categories {
	font-size: 12px;
	color: #525252;
}
 .entry-meta {
	margin-bottom: 35px;
	background-color: #f2f7f9;
}
.entry-meta li {
	display: inline-block;
	float: left;
	border-right: 1px solid #ddd;
	position:relative;
}
 .entry-meta li > a {
	display: block;
	padding: 12px 20px 12px 42px;
	font-size: 12px;
	font-weight: 400;
	line-height: 14.4px;
	color: #525252;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
}

.cat-meta-a {
	padding-left:45px !important;
}


.cat-meta-a a{
    display: inline-block !important;
    border: none !important;
    padding: 12px 12px 12px 0px !important;
}


.info-post .comments {
	position:relative;
}

.info-post .comments .icon {
  position: absolute;
  top: 30px;
  left: 15px;
}
.post .entry-meta li > a:hover {
	text-decoration: none;
}
.post .entry-meta .icon {
	  margin-right: 11px;
  font-size: 16px;
  vertical-align: middle;
  position: absolute;
  top: 10px;
  left: 15px;
}

.post .entry-footer {
	margin-top: 30px;
}
.post .info-post {
	left: -104px;
}

.post .footer-panel {
	margin-top: 40px;
}
.post .footer-panel a {
	margin-left: 13px;
	font-family: Raleway;
	font-size: 12px;
	font-weight: 500;
	color: #343434;
	text-decoration: none;
}
.post .footer-panel a:hover {
	color: #2986e2;
}
.post .social-links {
	border-top: 1px solid #eee;
}
.post .social-links__inner {
	position: relative;
	top: -20px;
	background-color: #fff;
}
.post .social-links__name {
	margin-right: 12px;
	margin-left: 12px;
	font-size: 14px;
	font-weight: 700;
	color: #525252;
}
.post .social-links a {
	display: inline-block;
	width: 37px;
	margin-left: 6px;
	padding-top: 7px;
	padding-bottom: 7px;
	border: 1px solid #eee;
	border-radius: 50%;
	transition: all 0.3s;
	text-align: center;
}
.post .social-links .icon {
	color: #ccc;
	transition: all 0.3s;
}
.post .social-links a:hover {
	border-color: #2986e2;
}
.post .social-links a:hover .icon {
	color: #f26529;
}


.about-autor {
	padding: 35px 40px;
	color: #fff;
	border-bottom: 4px solid #f26529;
}
.about-autor__foto {
    float: left;
    max-width: 106px;
    border-radius: 100px;
}
.about-autor__inner {
margin-left: 130px;
}
.about-autor__name , .about-autor__name a {
	display: block;
	font-family: Raleway;
	font-size: 18px;
	font-weight: 700;
	color:#fff;
}
.about-autor__category {
	display: block;
	font-family: Lato;
	font-size: 12px;
	font-weight: 400;
	color: #fff;
}
.about-autor__text {
  margin-top: 5px;
	font-weight: 300;
	color: #fff;
}


/*04  Comments */

.comments-header {
	position: relative;
	display: inline-block;
	margin-bottom: 30px;
	padding: 12px 20px;
	font-size: 16px;
	font-weight: normal;
	color: #fff;
	background: none repeat scroll 0 0 #000;
	z-index: 7;
	text-transform: uppercase;
}
.comments-header a {
	color: #fff;
}
.comments-list > li {
	list-style: none;
}
.comments-list > li li {
	position: relative;
}
.comments-list {
	margin-bottom: 15px;
	margin-left: 0;
	padding-left: 0;
}
.comment {
	position: relative;
	margin-top: 44px;
	margin-bottom: 0;
	padding-bottom: 0;
	transition: all 0.3s;
}
.comment .avatar-placeholder {
	position: absolute;
	top: 0;
	left: 0;
	width: 90px;
	background-color: #e1e1e1;
	overflow: hidden;
	z-index: 9;
}

.content-comment{
  padding-left: 0;
  margin-left: 110px;
}

.comment .avatar-placeholder img {
	width: 100%;
	height: auto;
}
.comment .comment-header {
	margin: 0 0 14px 120px;
	padding-top: 0;
}
.comment .comment-author {
	margin-right: 20px;
	font-style: normal;
	color: #333;
}
.comment .comment-datetime {
	font-size: 11px;
	color: #999;
}
.comment-datetime span[class*='icon-'] {
	position: relative;
	top: 0;
	margin-right: 3px;
	font-size: 12px;
	font-style: normal;
	color: #526aff;
}
.comment .comment-reply {
	position: absolute;
	right: 0;
	bottom: -20px;
}
.comment .comment-reply .btn {
	background-color: #fff;
}

.comment .comment-reply .btn a{
	color:#363636;
}

.content-comment{
 border-bottom: 1px solid #eee;
    color: #777;
    padding-bottom: 25px;
}


.comment .comment-reply .btn:hover {
	background-color: #f26529;
}

.comment .comment-reply .btn:hover a{
	color:#fff !important;
}
.comment .comment-reply .btn:hover .icon {
	transition: all 0.3s;
}
.comment .comment-reply .btn:hover .icon {
	color: #fff;
}
.comment .comment-body {
	margin-left: 120px;
	padding: 0 30px 37px 0;
	font-weight: 300;
	color: #777;
	border-bottom: 1px solid #eee;
}
.comment .comment-body p {
	margin-bottom: 0;
}
.comments-list .children {
	margin: 10px 0 0 120px;
	padding: 0;
	list-style: none outside none;
}
.comments-list > li:last-child,
.comments-list .children > li:last-child {
	margin-bottom: 0;
	background: none;
}
.comment-reply-form {
	margin-top: 70px;
	margin-bottom: 100px;
	margin-left: 6px;
}
.comment-reply-form .ui-form {
	margin-top: 40px;
}
.comment-reply-form .btn {
	padding: 14px 12px;
}

.about-autor {
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 34px 40px 30px 40px;
	border-top: 1px solid #eee;
	clear: both;
}
.section-comment {
	margin-top: 77px;
	padding-left: 9px;
}

.service-content , .woocommerce-tabs{
	color:#777;
}

.flickr-feed{
	text-align:center;
}


.flickr-feed li{
	    display: inline-block;
    width: auto !important;
    margin: 5px;
}