
 @media only screen and (max-device-width : 768px) {
	 
	 .rev_slider_wrapper {
  width: 100% !important;
}
	 
html .header-menu a {
    font-size: 43px;
    padding: 11px 11px;

}


html .mm-list > li > a, .mm-list > li > span {
    font-size: 30px;
    line-height: 40px;
    padding: 10px 10px 10px 5px;

}


html .mm-list > li::before {
    font-size: 34px;
}

html .mm-list > li {
    padding-left: 65px !important;
}

[data-vc-full-width="true"] .vc_column_container{
	min-width:1170px !important;
}

}

html, body, .layout-theme, .home-section, .container {
	min-width: 1250px;
}
.container {
	max-width: none !important;
	width: 1250px !important;
}
div[ data-vc-full-width="true"] {
	max-width: none !important;
	min-width: 1250px;
}


/*Boostrap No-Responsive*/

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
	float: left
}
.col-md-12 {
	width: 100% !important;
}
.col-md-11 {
	width: 91.66666667% !important;
}
.col-md-10 {
	width: 83.33333333% !important;
}
.col-md-9 {
	width: 75% !important;
}
.col-md-8 {
	width: 66.66666667% !important;
}
.col-md-7 {
	width: 58.33333333% !important;
}
.col-md-6 {
	width: 50% !important;
}
.col-md-5 {
	width: 41.66666667% !important;
}
.col-md-4 {
	width: 33.33333333% !important;
}
.col-md-3 {
	width: 25% !important;
}
.col-md-2 {
	width: 16.66666667% !important;
}
.col-md-1 {
	width: 8.33333333% !important;
}
.col-md-pull-12 {
	right: 100% !important;
}
.col-md-pull-11 {
	right: 91.66666667% !important;
}
.col-md-pull-10 {
	right: 83.33333333% !important;
}
.col-md-pull-9 {
	right: 75% !important;
}
.col-md-pull-8 {
	right: 66.66666667% !important;
}
.col-md-pull-7 {
	right: 58.33333333% !important;
}
.col-md-pull-6 {
	right: 50% !important;
}
.col-md-pull-5 {
	right: 41.66666667% !important;
}
.col-md-pull-4 {
	right: 33.33333333% !important;
}
.col-md-pull-3 {
	right: 25% !important;
}
.col-md-pull-2 {
	right: 16.66666667% !important;
}
.col-md-pull-1 {
	right: 8.33333333% !important;
}
.col-md-pull-0 {
	right: auto !important;
}
.col-md-push-12 {
	left: 100% !important;
}
.col-md-push-11 {
	left: 91.66666667% !important;
}
.col-md-push-10 {
	left: 83.33333333% !important;
}
.col-md-push-9 {
	left: 75% !important;
}
.col-md-push-8 {
	left: 66.66666667% !important;
}
.col-md-push-7 {
	left: 58.33333333% !important;
}
.col-md-push-6 {
	left: 50% !important;
}
.col-md-push-5 {
	left: 41.66666667% !important;
}
.col-md-push-4 {
	left: 33.33333333% !important;
}
.col-md-push-3 {
	left: 25% !important;
}
.col-md-push-2 {
	left: 16.66666667% !important;
}
.col-md-push-1 {
	left: 8.33333333% !important;
}
.col-md-push-0 {
	left: auto !important;
}
.col-md-offset-12 {
	margin-left: 100% !important;
}
.col-md-offset-11 {
	margin-left: 91.66666667% !important;
}
.col-md-offset-10 {
	margin-left: 83.33333333% !important;
}
.col-md-offset-9 {
	margin-left: 75% !important;
}
.col-md-offset-8 {
	margin-left: 66.66666667% !important;
}
.col-md-offset-7 {
	margin-left: 58.33333333% !important;
}
.col-md-offset-6 {
	margin-left: 50% !important;
}
.col-md-offset-5 {
	margin-left: 41.66666667% !important;
}
.col-md-offset-4 {
	margin-left: 33.33333333% !important;
}
.col-md-offset-3 {
	margin-left: 25% !important;
}
.col-md-offset-2 {
	margin-left: 16.66666667% !important;
}
.col-md-offset-1 {
	margin-left: 8.33333333% !important;
}
.col-md-offset-0 {
	margin-left: 0 !important;
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11 {
	float: left
}
.col-lg-1 {
	width: 8.333333333333332% !important;
}
.col-lg-2 {
	width: 16.666666666666664% !important;
}
.col-lg-3 {
	width: 25% !important;
}
.col-lg-4 {
	width: 33.33333333333333% !important;
}
.col-lg-5 {
	width: 41.66666666666667% !important;
}
.col-lg-6 {
	width: 50% !important;
}
.col-lg-7 {
	width: 58.333333333333336% !important;
}
.col-lg-8 {
	width: 66.66666666666666% !important;
}
.col-lg-9 {
	width: 75% !important;
}
.col-lg-10 {
	width: 83.33333333333334% !important;
}
.col-lg-11 {
	width: 91.66666666666666% !important;
}
.col-lg-12 {
	width: 100% !important;
}
.col-lg-push-0 {
	left: auto !important;
}
.col-lg-push-1 {
	left: 8.333333333333332% !important;
}
.col-lg-push-2 {
	left: 16.666666666666664% !important;
}
.col-lg-push-3 {
	left: 25% !important;
}
.col-lg-push-4 {
	left: 33.33333333333333% !important;
}
.col-lg-push-5 {
	left: 41.66666666666667% !important;
}
.col-lg-push-6 {
	left: 50% !important;
}
.col-lg-push-7 {
	left: 58.333333333333336% !important;
}
.col-lg-push-8 {
!important;
	left: 66.66666666666666%
}
.col-lg-push-9 {
	left: 75% !important;
}
.col-lg-push-10 {
	left: 83.33333333333334% !important;
}
.col-lg-push-11 {
	left: 91.66666666666666% !important;
}
.col-lg-pull-0 {
	right: auto !important;
}
.col-lg-pull-1 {
	right: 8.333333333333332% !important;
}
.col-lg-pull-2 {
	right: 16.666666666666664% !important;
}
.col-lg-pull-3 {
	right: 25% !important;
}
.col-lg-pull-4 {
	right: 33.33333333333333% !important;
}
.col-lg-pull-5 {
	right: 41.66666666666667% !important;
}
.col-lg-pull-6 {
	right: 50% !important;
}
.col-lg-pull-7 {
	right: 58.333333333333336% !important;
}
.col-lg-pull-8 {
	right: 66.66666666666666% !important;
}
.col-lg-pull-9 {
	right: 75% !important;
}
.col-lg-pull-10 {
	right: 83.33333333333334% !important;
}
.col-lg-pull-11 {
	right: 91.66666666666666% !important;
}
.col-lg-offset-0 {
	margin-left: 0 !important;
}
.col-lg-offset-1 {
	margin-left: 8.333333333333332% !important;
}
.col-lg-offset-2 {
	margin-left: 16.666666666666664% !important;
}
.col-lg-offset-3 {
	margin-left: 25% !important;
}
.col-lg-offset-4 {
	margin-left: 33.33333333333333% !important;
}
.col-lg-offset-5 {
	margin-left: 41.66666666666667% !important;
}
.col-lg-offset-6 {
	margin-left: 50% !important;
}
.col-lg-offset-7 {
	margin-left: 58.333333333333336% !important;
}
.col-lg-offset-8 {
	margin-left: 66.66666666666666% !important;
}
.col-lg-offset-9 {
	margin-left: 75% !important;
}
.col-lg-offset-10 {
	margin-left: 83.33333333333334% !important;
}
.col-lg-offset-11 {
	margin-left: 91.66666666666666% !important;
}
html .visible-lg {
	display: block!important
}
html .hidden-xs {
	display: block !important
}
html .visible-xs {
	display: none !important;
}
/*Composer No reposnive*/





.vc_col-md-1, .vc_col-md-2, .vc_col-md-3, .vc_col-md-4, .vc_col-md-5, .vc_col-md-6, .vc_col-md-7, .vc_col-md-8, .vc_col-md-9, .vc_col-md-10, .vc_col-md-11, .vc_col-md-12 {
	float: left;
}
.vc_col-md-12 {
	width: 100% !important;
}
.vc_col-md-11 {
	width: 91.66666667% !important;
}
.vc_col-md-10 {
	width: 83.33333333% !important;
}
.vc_col-md-9 {
	width: 75% !important;
}
.vc_col-md-8 {
	width: 66.66666667% !important;
}
.vc_col-md-7 {
	width: 58.33333333% !important;
}
.vc_col-md-6 {
	width: 50% !important;
}
.vc_col-md-5 {
	width: 41.66666667% !important;
}
.vc_col-md-4 {
	width: 33.33333333% !important;
}
.vc_col-md-3 {
	width: 25% !important;
}
.vc_col-md-2 {
	width: 16.66666667% !important;
}
.vc_col-md-1 {
	width: 8.33333333% !important;
}
.vc_col-md-pull-12 {
	right: 100% !important;
}
.vc_col-md-pull-11 {
	right: 91.66666667% !important;
}
.vc_col-md-pull-10 {
	right: 83.33333333% !important;
}
.vc_col-md-pull-9 {
	right: 75% !important;
}
.vc_col-md-pull-8 {
	right: 66.66666667% !important;
}
.vc_col-md-pull-7 {
	right: 58.33333333% !important;
}
.vc_col-md-pull-6 {
	right: 50% !important;
}
.vc_col-md-pull-5 {
	right: 41.66666667% !important;
}
.vc_col-md-pull-4 {
	right: 33.33333333% !important;
}
.vc_col-md-pull-3 {
	right: 25% !important;
}
.vc_col-md-pull-2 {
	right: 16.66666667% !important;
}
.vc_col-md-pull-1 {
	right: 8.33333333% !important;
}
.vc_col-md-pull-0 {
	right: auto;
}
.vc_col-md-push-12 {
	left: 100% !important;
}
.vc_col-md-push-11 {
	left: 91.66666667% !important;
}
.vc_col-md-push-10 {
	left: 83.33333333% !important;
}
.vc_col-md-push-9 {
	left: 75% !important;
}
.vc_col-md-push-8 {
	left: 66.66666667% !important;
}
.vc_col-md-push-7 {
	left: 58.33333333% !important;
}
.vc_col-md-push-6 {
	left: 50% !important;
}
.vc_col-md-push-5 {
	left: 41.66666667% !important;
}
.vc_col-md-push-4 {
	left: 33.33333333% !important;
}
.vc_col-md-push-3 {
	left: 25% !important;
}
.vc_col-md-push-2 {
	left: 16.66666667% !important;
}
.vc_col-md-push-1 {
	left: 8.33333333% !important;
}
.vc_col-md-push-0 {
	left: auto;
}
.vc_col-md-offset-12 {
	margin-left: 100% !important;
}
.vc_col-md-offset-11 {
	margin-left: 91.66666667% !important;
}
.vc_col-md-offset-10 {
	margin-left: 83.33333333% !important;
}
.vc_col-md-offset-9 {
	margin-left: 75% !important;
}
.vc_col-md-offset-8 {
	margin-left: 66.66666667% !important;
}
.vc_col-md-offset-7 {
	margin-left: 58.33333333% !important;
}
.vc_col-md-offset-6 {
	margin-left: 50% !important;
}
.vc_col-md-offset-5 {
	margin-left: 41.66666667% !important;
}
.vc_col-md-offset-4 {
	margin-left: 33.33333333% !important;
}
.vc_col-md-offset-3 {
	margin-left: 25% !important;
}
.vc_col-md-offset-2 {
	margin-left: 16.66666667% !important;
}
.vc_col-md-offset-1 {
	margin-left: 8.33333333% !important;
}
.vc_col-md-offset-0 {
	margin-left: 0% !important;
}
