



.color_white {color: #FFF!important;}
.color_light-grey {color: #ccc!important;}
.color_grey {color: #888!important;}



.vc_row.text-white * , .vc_row.text-white .ui-text{
	color:#fff ;
}

.bg-color_white {background-color: #FFF!important;}
.bg-color_red {background-color: #f47c49!important;}

.font-weight-norm {font-weight: normal;}
.font-weight_600 {font-weight: 600;}
.font-weight_700 {font-weight: 700;}


.bg {
	position: relative;
	background-repeat: no-repeat;
	background-position: 50% 0;
	background-size: cover;;
}
.bg_1 {background-image: url('../media/bg/bg_1.jpg');}
.bg_2 {background-image: url('../media/bg/bg_2.jpg');}
.bg_3, .bg_6, .bg_8 {background-image: url('../media/bg/bg_3.png'); background-position: 0 0;}
.bg_4 {background-image: url('../media/bg/bg_4.png'); background-position: 0 100%;background-size: inherit}
.bg_5 {background-image: url('../media/bg/bg_5.jpg');}
.bg_7 {background-image: url('../media/bg/bg_7.jpg');   background-size: cover; }
.bg_9 {}
.bg_10 {background-image: url('../media/bg/bg_10.jpg');background-position: 0 0;background-repeat: no-repeat;}
.bg_11 {background-image: url('../media/bg/bg_11.jpg');background-position: 0 100%;background-repeat: no-repeat;background-size: inherit;}
.bg_title {background-image: url('../media/bg/bg_title.jpg'); background-size:cover;}

.bg_transparent .row {
	position: relative;
	z-index: 100;
}
.bg_transparent:after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: '';
}
.bg_transparent.bg_1:after {background-color: rgba(41, 134, 226, 0.8);}
.bg_transparent.bg_2:after {background-color: rgba(0, 0, 0, 0.92);}
.bg_transparent.bg_3:after {background-color: rgba(255, 118, 3, 0.78);}
.bg_transparent.bg_5:after {background-color: rgba(41, 134, 226, 0.8);}
.bg_transparent.bg_6:after {background-color: rgba(41, 134, 226, 0.8);}
.bg_transparent.bg_7:after {background-color: rgba(255, 255, 255, 0.87);}
.bg_transparent.bg_8:after {background-color: rgba(0, 0, 0, 0.88);}
.bg_transparent.bg_9:after {height: 482px; background-color: #f2f7f9;}
.bg_transparent.bg_10:after {height: 475px; background-color: rgba(0, 0, 0, 0.88);}
.bg_transparent.bg_title:after {background-color: rgba(41, 134, 226, 0.8);}


.padd_left_20 {padding-left: 20px;}
.padd_left_70 {padding-left: 70px;}
.border_top {border-top: 1px solid #eee}
.border_btm {border-bottom: 1px solid #eee}

