/* -------------------------------- 

Primary style

-------------------------------- */
/* TEST FOR FADES * * */
.cd-timeline-block{
opacity:1;
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */

.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1024px;
  margin: 0 auto;
}

.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

/* -------------------------------- 

Main components 

-------------------------------- */

@media only screen and (min-width: 100px) {


#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}

#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 4px;
  background: #F0D39C;
}

}
@media only screen and (min-width: 1024px) {

#cd-timeline {
  margin-top: 3em;
  margin-bottom: 3em;
}

#cd-timeline::before {
  left: 50%;
  margin-left: -2px;
}
}

.cd-timeline-block {
  position: relative;
  margin: 2em 0;
 *zoom: 1;
}

.cd-timeline-block:before,
.cd-timeline-block:after {
  content: " ";
  display: table;
}

.cd-timeline-block:after { clear: both; }

.cd-timeline-block:first-child { margin-top: 0; }

.cd-timeline-block:last-child { margin-bottom: 0; }
@media only screen and (min-width: 1024px) {

.cd-timeline-block { margin: 4em 0; }

.cd-timeline-block:first-child { margin-top: 0; }

.cd-timeline-block:last-child { margin-bottom: 0; }
}

.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 49%;
  width: 10px;
  /*overflow:hidden;*/
  height: 10px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px #F0D39C, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
  z-index:999;
}


.cd-add-timeline{
background:none repeat scroll 0 0 #fc0000 !important;
transition : all 2s ease;
-webkit-transition : all 1s ease;
}

.cd-add-timeline:hover{
background:red!important;
cursor:pointer;
}

.cd-timeline-img img {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 100%;
  top: 50%;
/*   margin-left: -12px; */
  margin-top: -12px;
}

.cd-timeline-img.cd-picture { background: #75ce66; }

.cd-timeline-img.cd-movie { background: #c03b44; }

.cd-timeline-img.cd-location { background: #f0ca45; }
@media only screen and (min-width: 1024px) {

.cd-timeline-img {
  width: 10px;
height: 10px;
left: 50%;
margin-left: -4px;
-webkit-transform: translateZ(0);
-webkit-backface-visibility: hidden;
margin-top: 25px;
}

.cssanimations .cd-timeline-img.is-hidden { visibility: hidden; }

.cssanimations .cd-timeline-img.bounce-in {
  visibility: visible;
  -webkit-animation: cd-bounce-1 0.6s;
  -moz-animation: cd-bounce-1 0.6s;
  animation: cd-bounce-1 0.6s;
}
}
 @-webkit-keyframes 
cd-bounce-1 {  0% {
 opacity: 0;
 -webkit-transform: scale(0.5);
}
 60% {
 opacity: 1;
 -webkit-transform: scale(1.2);
}
 100% {
 -webkit-transform: scale(1);
}
}
@-moz-keyframes 
cd-bounce-1 {  0% {
 opacity: 0;
 -moz-transform: scale(0.5);
}
 60% {
 opacity: 1;
 -moz-transform: scale(1.2);
}
 100% {
 -moz-transform: scale(1);
}
}
@-o-keyframes 
cd-bounce-1 {  0% {
 opacity: 0;
 -o-transform: scale(0.5);
}
 60% {
 opacity: 1;
 -o-transform: scale(1.2);
}
 100% {
 -o-transform: scale(1);
}
}
@keyframes 
cd-bounce-1 {  0% {
 opacity: 0;
 transform: scale(0.5);
}
 60% {
 opacity: 1;
 transform: scale(1.2);
}
 100% {
 transform: scale(1);
}
}

.cd-timeline-content {
    /*background-image: -moz-linear-gradient(center top , #f5d9a2, #a47d40);*/
    border-radius: 0.25em;
    border-top: 1px solid #ffffff;
    box-shadow: 0 3px 0 #000000;
    padding: 1em;
    position: relative;
    z-index: 10;
}
.timeline-content-award{
color: #111111;
  text-shadow: 0 1px 0 #b8b8b8;
  background-image: -moz-linear-gradient(top, #f5d9a2, #a47d40)!important;
  background-image: -ms-linear-gradient(top, #f5d9a2, #a47d40)!important;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5d9a2), to(#a47d40))!important;
  background-image: -webkit-linear-gradient(top, #f5d9a2, #a47d40)!important;
  background-image: -o-linear-gradient(top, #f5d9a2, #a47d40)!important;
  background-image: linear-gradient(top, #f5d9a2, #a47d40)!important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'f5d9a2, endColorstr='#'a47d40, GradientType=0);
}
.cd-timeline-content:before,
.cd-timeline-content:after {
  content: " ";
  display: table;
}

.cd-timeline-content:after { clear: both; }

/*.cd-timeline-content h2 { color: #303e49; }*/

.cd-timeline-content p,
.cd-timeline-content .cd-read-more,
.cd-timeline-content .cd-date {
}

.cd-timeline-content .cd-read-more,
.cd-timeline-content .cd-date { display: inline-block; }

.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}

.cd-timeline-content .cd-read-more {
  float: right;
  padding: .8em 1em;
  background: #acb7c0;
  color: white;
  border-radius: 0.25em;
}

.no-touch .cd-timeline-content .cd-read-more:hover { background-color: #bac4cb; }

.cd-timeline-content .cd-date {
  float: left;
  padding: .8em 0;
  opacity: .7;
}

.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}
@media only screen and (min-width: 768px) {

.cd-timeline-content h2 {
}

.cd-timeline-content p {
  
}

.cd-timeline-content .cd-read-more,
.cd-timeline-content .cd-date {
  
}
}
@media only screen and (min-width: 1024px) {

.cd-timeline-content {
  margin-left: 40px;
  padding: 1.6em;
  width: 45%;
}

.cd-timeline-content::before {
  top: 24px;
  left: 100%;
  border-color: transparent;
  border-left-color: white;
}

.cd-timeline-content .cd-read-more { float: left; }

.cd-timeline-content .cd-date {
  position: absolute;
  width: 100%;
  left: 122%;
  top: 6px;
  font-size: 16px;
  font-size: 1rem;
}

.cd-timeline-block:nth-child(even) .cd-timeline-content { float: right; margin-right:40px;}

.cd-timeline-block:nth-child(even) .cd-timeline-content::before {
  top: 24px;
  left: auto;
  right: 100%;
  border-color: transparent;
  border-right-color: white;
}

.cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more { float: right; }

.cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
  left: auto;
  right: 122%;
  text-align: right;
}

.cssanimations .cd-timeline-content.is-hidden { visibility: hidden; }

.cssanimations .cd-timeline-content.bounce-in {
  visibility: visible;
  -webkit-animation: cd-bounce-2 0.6s;
  -moz-animation: cd-bounce-2 0.6s;
  animation: cd-bounce-2 0.6s;
}
}
 @media only screen and (min-width: 1024px) {

/* inverse bounce effect on even content blocks */

.cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
  -webkit-animation: cd-bounce-2-inverse 0.6s;
  -moz-animation: cd-bounce-2-inverse 0.6s;
  animation: cd-bounce-2-inverse 0.6s;
}
}
@-webkit-keyframes 
cd-bounce-2 {  0% {
 opacity: 0;
 -webkit-transform: translateX(-100px);
}
 60% {
 opacity: 1;
 -webkit-transform: translateX(20px);
}
 100% {
 -webkit-transform: translateX(0);
}
}
@-moz-keyframes 
cd-bounce-2 {  0% {
 opacity: 0;
 -moz-transform: translateX(-100px);
}
 60% {
 opacity: 1;
 -moz-transform: translateX(20px);
}
 100% {
 -moz-transform: translateX(0);
}
}
@-o-keyframes 
cd-bounce-2 {  0% {
 opacity: 0;
 -o-transform: translateX(-100px);
}
 60% {
 opacity: 1;
 -o-transform: translateX(20px);
}
 100% {
 -o-transform: translateX(0);
}
}
@keyframes 
cd-bounce-2 {  0% {
 opacity: 0;
 transform: translateX(-100px);
}
 60% {
 opacity: 1;
 transform: translateX(20px);
}
 100% {
 transform: translateX(0);
}
}
@-webkit-keyframes 
cd-bounce-2-inverse {  0% {
 opacity: 0;
 -webkit-transform: translateX(100px);
}
 60% {
 opacity: 1;
 -webkit-transform: translateX(-20px);
}
 100% {
 -webkit-transform: translateX(0);
}
}
@-moz-keyframes 
cd-bounce-2-inverse {  0% {
 opacity: 0;
 -moz-transform: translateX(100px);
}
 60% {
 opacity: 1;
 -moz-transform: translateX(-20px);
}
 100% {
 -moz-transform: translateX(0);
}
}
@-o-keyframes 
cd-bounce-2-inverse {  0% {
 opacity: 0;
 -o-transform: translateX(100px);
}
 60% {
 opacity: 1;
 -o-transform: translateX(-20px);
}
 100% {
 -o-transform: translateX(0);
}
}
@keyframes 
cd-bounce-2-inverse {  0% {
 opacity: 0;
 transform: translateX(100px);
}
 60% {
 opacity: 1;
 transform: translateX(-20px);
}
 100% {
 transform: translateX(0);
}
}
/* @media (max-width: 960px){
  .cd-timeline-content {

  width: 45%;
}
} */


/* ############################### timeline*/
#tl-datepicker {
border: none;
background: transparent;
width:120px;
text-align:center;
cursor:pointer;
}
#edit-tl-datepicker {
border: none;
background: transparent;
width:120px;
text-align:center;
cursor:pointer;
}
.cd-timeline-block:nth-child(odd) .timeline-time { margin:-4px 0px 0 20px; display:block; width:100px; height:20px; }
.cd-timeline-block:nth-child(even) .timeline-time { margin:-4px 0px 0 -110px; display:block; width:100px; height:20px; }
.cd-timeline-block:nth-child(even) .timeline-time time{float:left;}
.cd-timeline-block:nth-child(odd) .timeline-time time{float:right;}
.cd-timeline-block:nth-child(even) .timeline-time time achievement{float:left;}
}
.datepicker table tr td span{
background:#f3f3f3;
color:#3a3a3a;
}
.award-icon>img{
margin-left:-30px;
}
#date-of-birth-container{
/*background:url('../img/tk-assets/text-base.png');*/
/*box-shadow: none;*/
}
achievement{
/* width:20px; */
height:20px;
}
#date-of-birth-container:before{
border:none;
}
#date-of-birth-container div{
float:right;
}
/*
*  ./ Timeline
* */
.notification-count{
padding: 3px;
display:none;
background: #BB0909;
border-radius: 2px;
}
.notification-holder {
background: none repeat scroll 0 0 #a60c0c;
border: 1px solid;
border-radius: 4px;
color: #fff;
display: none;
margin-left: -165px;
padding: 5px 5px 5px 10px;
text-align: left;
width: 330px;
}
.pac-container {
background-color: #FFF;
z-index: 999200000;
position: fixed;
display: inline-block;
float: left;
font-family: Roboto;
}
#map_canvas {
height: 148px;
width: 100% !important;
margin: 0px;
padding: 0px;
z-index: 0;
}
.controls {
margin-top: 16px;
border: 1px solid transparent;
border-radius: 2px 0 0 2px;
box-sizing: border-box;
-moz-box-sizing: border-box;
height: 32px;
outline: none;
box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
#pac-input {
background-color: #fff;
padding: 0 11px 0 13px;
width: 100% !important;
font-family: Roboto;
font-size: 15px;
left: 0 !important;
font-weight: 300;
text-overflow: ellipsis;
}
#pac-input:focus {
border-color: #4d90fe;
margin-left: -1px;
padding-left: 14px;  /* Regular padding-left + 1. */
width: 401px;
}
#type-selector label {
font-family: Roboto;
font-size: 13px;
font-weight: 300;
}
.signup-submit-button{
width: 100%;
font-size: 16px;
}
.limit-and-scroll{
height: 200px;
overflow-y: scroll;
overflow-x: hidden;
width: 100%;
}
.pull-to-center{
width: 30%;
margin: 0 auto;
}
@media (max-width: 1023px){
.cd-timeline-block:nth-child(even) .cd-timeline-content {
margin-left:53%;
}
}
.cd-timeline-block:nth-child(odd) .cd-timeline-img img {
top: -10px;
left: 0%;
}
.cd-timeline-block:nth-child(odd) .cd-timeline-content:before{
border-color: rgba(0, 0, 0, 0) rgba(0,0,0,0) rgba(0, 0, 0, 0) #fff;
left: 100%;
}
.tk-edit-tl, .delete-tl-item{
margin-top: 5px;
width: 60px;
}