/* Start: Recommended Isotope styles */




#filter {
	margin-top: -68px;
	padding-left: 0;
	margin-bottom: 50px;
	height: 80px;
}

#filter li {
	display: inline-block;
	margin-bottom: 0;
	list-style: none;
}
#filter li a {
	position: relative;
	display: block;
	margin-right: -3px;
	padding: 13px 28px;
	font-family: Raleway;
	color: #343434;
	border: 1px solid #eee;
	background: none repeat scroll 0 0 #fff;
	transition: all 0.3s;
	cursor: pointer;
}
#filter li a:hover,
#filter li a.current {
	color: #fff;
	background-color: #2986e2;
	box-shadow: 0 3px 0 0 #f26529;
	text-decoration: none;
	border: 1px solid #2986e2;
	border-bottom-width: 3px;
}
#filter li a:focus {
	text-decoration: none;
}
#filter li a:before {
	position: absolute;
	bottom: -14px;
	left: 50%;
	width: 10px;
	height: 10px;
	margin-left: -10px;
	content: '';
	border-top: 10px solid transparent;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
	transition: all 0.3s;
}
#filter li a.current:before,
#filter li a:hover:before {
	border-top: 10px solid #F26529;
}

.title-action  a {
	color: #fff !important;
	border-color: #526aff !important;
	background: none repeat scroll 0 0 #526aff !important;
}

.isotope-skin2  .isotope-item {
	width: 31.18%;
	margin: 1% ;
}

.isotope-item {
	width: 24.9%;
}


.isotope-item img {
	max-width: 100%;
	height: auto;
}


.isotope-item:hover .slide-desc {
	opacity: 1;
}
.isotope-item .slide-desc {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 20px;
	color: #fff;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
	opacity: 0;
	overflow: hidden;
	z-index: 9999;
	-webkit-transition: all 0.3s ease-out;
	   -moz-transition: all 0.3s ease-out;
	    -ms-transition: all 0.3s ease-out;
	     -o-transition: all 0.3s ease-out;
	        transition: all 0.3s ease-out;
	text-align: center;
}


.isotope-item .slide-desc table,
.isotope-item .slide-desc td {
	width: 100%;
	height: 100%;
	border: none;
	background: none;
}

/* 0.7 X-carousel */

/**** Isotope Filtering ****/

.isotope-item {
	z-index: 2;
}

.isotope-hidden.isotope-item {
	z-index: 1;
	pointer-events: none;
}

