/*//////////////////////////////////////////////////////////////////////////////////////////*/
/* COLOR CSS 1*/
/*//////////////////////////////////////////////////////////////////////////////////////////*/

html body {
   color: #555555;
}


a {
	color: #222222;
}
html .nav > li > a:hover, html .nav > li > a:focus {
	color: #222222;
}
html .pre-footer {
	background: none repeat scroll 0 0 #222222;
}
html .after-heading-info, .highlight_text {
	color: #222222;
}
html .bx-wrapper .bx-next {
	background: #222222 !important;
}
html .bx-wrapper .bx-next {
	background: #222222 !important;
}
html .full-title.banner-full-width {
	background-color: #222222
}

html .top-cart i, html .top-cart .icon-basket {
	color: #222222;
}
html .dropdown-menu > li > a:hover, html .dropdown-menu > li > a:focus {
	background-color: #222222
}
html .title-action a {
	background: none repeat scroll 0 0 #222222 !important;
	border-color: #222222 !important;
		font-weight: 700 !important;
}
html .full-title-name .btn {
   background: #333 repeat scroll 0 0 !important;
    border-color: #333 !important;

}



html .marked_list1 li:before {
	color: #222222;
}
html .woocommerce #respond input#submit, html .woocommerce a.button, html .woocommerce button.button, html .woocommerce input.button {
	background-color: #222222 !important;
	border-color: #222222 !important;
}
html .product-info .nav-tabs > li.active a, html .product-info .nav-tabs > li:hover a {
	background: #222222 !important;
	color: #fff !important;
	outline: none !important;
	border: 1px solid #222222;
}
html .product-info .nav-tabs {
	border-top-color: #222222;
}
html .nav > li > a:hover, html .nav > li > a:focus {
	color: #222222;
}
html .label-sale, .label-hot, html .label-not-available, html .label-best {
  color: red;
}

html a {
  color: #222222;
}

.box-date-post .date-2 {
  color: #999999;
  text-transform: uppercase;
  font-weight: normal;
}

html body  .type-post.sticky:after {
		color: #222222;

}




/*//////////////////////////////////////////////////////////////////////////////////////////*/
/* COLOR CSS 2*/
/*//////////////////////////////////////////////////////////////////////////////////////////*/


html .banner-full-width > .container:after{
	border-color:#2689dd;
	
	
}

html .pagination li:hover a,html  .pagination li.current a,html  .woocommerce-pagination li .current{
		background: #2689dd  !important;
}


html .entry-media .blockquote {
  border-left: 3px solid #2689dd;
}

html  .table-contact i{
	color:#2689dd;
}


html .featured-item-simple-icon::after {
	border-color: #2689dd;
}


html .pix_grid-item .vc_grid-item-mini .vc_gitem-link{
	color: #2689dd;
}


html .section-header .heading {
  color: #2689dd;
}
html .title-action  a:after{
border-bottom-color: #2689dd;
}
html .btn-link,html  .view-post-btn {
  color: #2689dd !important;
}
html .demo_changer .demo-icon {
	background: #2689dd;
}
html .woocommerce nav.woocommerce-pagination ul li a:focus, html .woocommerce nav.woocommerce-pagination ul li a:hover, html .woocommerce nav.woocommerce-pagination ul li span.current {
	background: #2689dd !important;
}
html .pagination li, html .woocommerce-pagination li {
	border-color: #2689dd !important;
}
html .tagcloud a:hover {
	background: #2689dd !important;
}
html .title-option {
	background: #2689dd;
}
html .ip-header .ip-loader svg path.ip-loader-circle {
	stroke: #2689dd !important;
}


.ui-accordion-header-active.ui-state-active{
	background-color: #2689dd !important;
	color:#fff !important;	
}
.ui-accordion-header-active.ui-state-active *{
	color:#fff !important;
}



.yamm {
	background-color: #2689dd;
}
.yamm .dropdown-menu h1:after, .yamm .dropdown-menu h2:after, .yamm .dropdown-menu h3:after, .yamm .dropdown-menu h4:after, .yamm .dropdown-menu h5:after, .yamm .dropdown-menu h6:after {
	border-color: #2689dd !important;
}
html .banner-full-width .btn.btn-primary {
	background-color: #2689dd;
	border-color: #2689dd;
	color: #ffffff;
}
html .full-title-name:after{
	background-color: #2689dd;
	
}

html .full-title-name {
	background-color: #2689dd;
}
html .carousel-text a.btn-read-more.btn {
	color: #2689dd;
}
html a.btn-read-more.btn {
	color: #2689dd;
}
html .btn-primary, html .wpcf7-submit {
	background-color: #2689dd;
	border-color: #2689dd;
}


html body .marked_list1 li:before {
  color: #2689dd;
}
html .isotope-item:hover .slide-desc  .btn {
	border-color: #2689dd ;
}
html .pre-footer:hover {
	background-color: #2689dd;
}
.footer-shop .widgettitle:after {
	border-bottom: 1px solid #2689dd;
}

html .no-bg-color-parallax.parallax-yellow .bg-slideshow:after {
	background-color: rgba(229, 0, 28, 0.7);
}
html .btn-location-open i {
	color: #fff;
}
html .product-grid li:hover .product-bottom .btn-group .btn {
	background-color: #2689dd;
	border-color: #2689dd;
}
html .pp-content:hover {
	background: none repeat scroll 0 0 #2689dd;
}
html .pp-content:hover .arrow {
	border-color: #2689dd;
}
html .parallax-black .service-item .fa::before {
	color: #2689dd;
}
html .btn-download {
	background: #2689dd;
	color: #fff !important;
}
html body aside .widget_nav_menu li:before:hover , html body aside .widget_product_categories li:before:hover {
	color: #2689dd;
}
html aside .widget_nav_menu li:hover, aside .widget_product_categories li:hover {
	border-left-color: #2689dd;
}
.info-desc {
	border: 7px solid #2689dd;
	box-shadow: 1px 1px 3px #2689dd inset;
}
html .info-desc:after {
	background: none repeat scroll 0 0 #2689dd;
}
html .info-desc:before {
	background: none repeat scroll 0 0 #2689dd;
}
html .info-desc td i {
	color: #2689dd;
}
html .marked_list2 li:before {
	color: #2689dd;
}

html  blockquote {
  border-left: 3px solid #2689dd;
}

.carousel-title:after{
	border-bottom-color:#2689dd;
}
html .box-date-post .date-1 {
  color: #2689dd
}

html .copy a {
color:#2689dd
}

html .layout-header2 .top-cart i::after, html .layout-header2 .top-cart i::before{
    color: #2689dd !important;
}


.light-font:after {
  border-bottom-color: #2689dd ;	
}
html .service-item h4:after {
  border-bottom-color: #2689dd ;	
}


html  .navbar-header {
 background: #222222;
  color: #cccccc;
}
html  .navbar-header  * , html  .navbar-header a{
	color:#cccccc !important;
}
html  .navbar-header .info-top li.fa:after, html  .navbar-header .info-top li.fa:before {
 color:#cccccc !important;
}


