


/*//////////////////////////////////////////////////////////////////////////////////////////*/
/* COLOR CSS 1*/
/*//////////////////////////////////////////////////////////////////////////////////////////*/



.wrap-services .service-icon  , .steps i {
    color:#B00DFF  !important;
}

.panel-alt-two .panel-heading.active .accordion-icon .stacked-icon {
    background: #B00DFF  !important;
}

.panel-alt-two .panel-heading.active .accordion-icon {
    background: #B00DFF  !important;
}

.popover {
    background-color: #B00DFF  !important;
}

.popover .popover-content .member-info {
    border-right: 1px solid #fff;
}

html .popover.top > .arrow:after {
    border-top-color: #B00DFF;
}

html  .popover .popover-content .member-info p {
    color: #fff;
}