
.services_image img , .column-thumbnail img{
	max-width:100%;
	height:auto;
}

.opts-promo {
	width: 780px !important;
	position: relative;
}
.opts-promo img {
	width: 100%;
	height: auto;
	margin-top: 30px;
	border: 15px solid #222;
}
.promo-close {
	position: absolute;
	top: 44px;
	right: -16px;
	color: #fff !important;
	background: rgba( 0, 0, 0, 0.3);
	line-height: 20px;
	text-align: center;
	font-size: 16px;
	height: 25px;
	width: 30px;
	text-decoration: none;
}
.promo-close:hover {
	background: rgba( 0, 0, 0, 0.7);
}
.opts-promo {
	width: 780px !important;
	position: relative;
}
.opts-promo img {
	width: 100%;
	height: auto;
	margin-top: 30px;
	border: 15px solid #222;
}
.promo-close {
	position: absolute;
	top: 44px;
	right: -16px;
	color: #fff !important;
	background: rgba( 0, 0, 0, 0.3);
	line-height: 20px;
	text-align: center;
	font-size: 16px;
	height: 25px;
	width: 30px;
	text-decoration: none;
}
.promo-close:hover {
	background: rgba( 0, 0, 0, 0.7);
}
.doc-online {
	background: none repeat scroll 0 0 #0074a2;
	color: #fff !important;
	display: inline-block;
	font: bold 12px/20px Helvetica, Arial, sans-serif;
	margin: 10px 0 10px;
	padding: 10px;
	text-align: left;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
}
.support-online {
	background: none repeat scroll 0 0 #0074a2;
	color: #fff !important;
	display: inline-block;
	font: bold 12px/20px Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 10px 0 10px 15px;
	text-align: left;
	text-decoration: none;
	text-transform: uppercase;
	width: 157px;
}
.pix-theme-icon_nav .vc_element-icon {
	background: url(../images/pix-theme-icon.png) no-repeat 0 0 !important;
}

.pix-theme-icon2_nav .vc_element-icon{
	background: url(../images/pix-theme-icon2.png) no-repeat 0 0 !important;
}


.pix-theme-icon3_nav .vc_element-icon{
	background: url(../images/pix-theme-icon3.png) no-repeat 0 0 !important;
}

.pix-theme-icon4_nav .vc_element-icon{
	background: url(../images/pix-theme-icon4.png) no-repeat 0 0 !important;
}
/*.
.pix-theme-title2_o .vc_element-icon {
	background: url(../images/title2.png) no-repeat 0 0;
}
.pix-theme-hexagon_o .vc_element-icon {
	background: url(../images/flat-hexagon-belizehole-wordpress-logo.png) no-repeat 0 0;
}
.pix-theme-state_o .vc_element-icon {
	background: url(../images/state.png) no-repeat 0 0;
}
.pix-theme-feat1_o .vc_element-icon {
	background: url(../images/feat1.png) no-repeat 0 0;
}
.pix-theme-video_o .vc_element-icon {
	background: url(../images/video.png) no-repeat 0 0;
}
.pix-theme-team .vc_element-icon {
	background: url(../images/team2.png) no-repeat 0 0;
}*/


.admin-panel {
	width: 940px;
	margin: 40px 10px;
	direction: ltr;
	text-align: left;
	background: url(../images/bg.jpg);
	padding: 20px;
}
.admin-panel * {
	padding: 0;
	margin: 0;
}
.clear {
	clear: both;
}
.logo {
	background: url(../images/logo.png) no-repeat top;
	width: 140px;
	height: 40px;
	float: left;
	margin: 20px auto 20px;
}
.admin-panel-head {
	height: 100px;
	overflow: hidden;
	position: relative;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-border-radius-bottomright: 0;
	-webkit-border-bottom-right-radius: 0;
	border-bottom-right-radius: 0;
	-moz-border-radius-bottomleft: 0;
	-webkit-border-bottom-left-radius: 0;
	border-bottom-left-radius: 0;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #FFF;
	display: none;
}
.admin-panel-content h2 {
	margin-bottom: 50px;
	font-size: 20pt;
	border-bottom: double 4px #ccc;
	padding-bottom: 8px;
	margin-top: 10px;
	float: left;
}
.admin-panel-head .left-block {
	float: left;
	padding: 20px;
	text-align: center;
}
.mpanel-submit {
	float: right;
	margin-right: 8px
}
.mpanel-reset {
	float: left;
}
input.mpanel-save, input.mpanel-reset-button, a.mpanel-reset-button {
	padding: 8px 16px;
	text-align: center;
	text-decoration: none;
	border: none;
	clear: both;
	cursor: pointer;
	font-weight: bold;
	background: #33B5E5;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
a.mpanel-reset-button {
	background: #d54e21;
	color: #fff
}
.column-event_image img {
	width: 100%;
	height: auto;
}
input.mpanel-save:hover, input.mpanel-reset-button:hover {
	background: #16a5d7;
}
input.mpanel-reset-button {
	background: red;
}
input.mpanel-reset-button:hover {
	background: #333;
}
.small_button {
	padding: 4px 8px 4px;
	margin-left: 5px;
	background-color: #F1F1F1;
	background-image: -ms-linear-gradient(top, #F9F9F9, #ECECEC);
	background-image: -moz-linear-gradient(top, #F9F9F9, #ECECEC);
	background-image: -o-linear-gradient(top, #F9F9F9, #ECECEC);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#F9F9F9), to(#ECECEC));
	background-image: -webkit-linear-gradient(top, #F9F9F9, #ECECEC);
	background-image: linear-gradient(top, #F9F9F9, #ECECEC);
	border: 1px solid #CCC;
	cursor: pointer;
	color: #777;
}
#_weblusive_promotext, #_weblusive_promotext-item {
	display: none;
}
#upload_image_button:hover {
	border-color: #999;
	color: #464646;
}
.extra-text {
	display: block;
	clear: both;
	padding: 4px 0 0 205px;
}
.admin-panel-tabs {
	width: 185px;
	float: left;
	padding-bottom: 25px;
	background: url(../images/bg-sidebar.png)
}
.admin-panel-tabs ul {
	border-top: 1px solid #333;
	border-bottom: 1px solid #555;
}
.admin-panel-tabs li {
	border-bottom: 1px dotted #111;
	border-top: 1px dotted #555;
	list-style: none;
}
.admin-panel-tabs li a {
	padding: 20px 10px;
	display: block;
	color: #ccc;
	cursor: pointer;
	border: 0;
	outline: none;
	text-decoration: none;
	-webkit-transition: background ease-in-out 0.2s, padding ease-in-out 0.2s;
	-moz-transition: background ease-in-out 0.2s, padding ease-in-out 0.2s;
	-o-transition: background ease-in-out 0.2s, padding ease-in-out 0.2s;
	transition: background ease-in-out 0.2s, padding ease-in-out 0.2s;
	font-size: 14px;
}
.admin-panel-tabs li a:hover, .admin-panel-tabs li.active a {
	background-color: #777;
	padding-right: 15px;
	padding-left: 15px;
	background: url(../images/nav-hover.png);
	border-radius: 3px;
	box-shadow: inset 0px 0px 1px 0px #000;
}
}
.admin-panel-tabs li.active {
	position: relative;
	width: 185px;
	border: 0 none;
}
.admin-panel-tabs li a span {
	width: 32px;
	height: 32px;
	display: inline-block;
	float: left;
	margin-right: 8px;
	margin-top: -4px;
	background: url(../images/icons.png) no-repeat;
}
.admin-panel-tabs li.advanced span {
	background-position: -462px -11px;
	width: 27px;
	height: 29px;
}
.admin-panel-tabs li.blog span {
	background-position: -313px -14px;
	width: 23px;
	height: 22px;
	margin-top: -2px
}
.admin-panel-tabs li.contact span {
	background-position: -411px -14px;
	width: 27px;
	height: 22px;
}
.admin-panel-tabs li.footer span {
	background-position: -113px -13px;
	width: 24px;
	height: 24px;
}
.admin-panel-tabs li.header span {
	background-position: -62px -13px;
	width: 24px;
	height: 24px;
}
.admin-panel-tabs li.main-settings span {
	background-position: -11px -11px;
	width: 29px;
	height: 29px;
}
.admin-panel-tabs li.sidebars span {
	background-position: -163px -14px;
	width: 23px;
	height: 24px;
}
.admin-panel-tabs li.styling span {
	background-position: -213px -14px;
	width: 24px;
	height: 24px;
}
.admin-panel-tabs li.typography span {
	background-position: -265px -13px;
	width: 20px;
	height: 23px;
}
.admin-panel-tabs li.underconstruction span {
	background-position: -362px -14px;
	width: 26px;
	height: 21px;
}
.admin-panel-content {
	background: url('../images/content_bg.jpg');
	padding: 20px;
	float: right;
	width: 715px;
	min-height: 600px;
	position: relative;
	padding-bottom: 85px;
	overflow: hidden;
}
.admin-panel-content.full-content {
	float: none;
	width: auto
}
.admin-panel-content.full-content h2 {
	float: none
}
div.option-item input[type=text], div.option-item textarea, #pricing-table input[type=text] {
	background: #fff url(../images/input-bg.png) repeat-x top;
	padding: 4px 5px;
	width: 250px;
	-webkit-box-shadow: 0 1px rgba(0, 0, 0, .05);
	-moz-box-shadow: 0 1px rgba(0,0,0,.05);
	box-shadow: 0 1px rgba(0, 0, 0, .05);
}
div.option-item input[type=text]:focus, div.option-item textarea:focus {
	border: solid 1px #c2c2c2;
}
div.option-item select, #pricing-table select {
	background: #fff url(../images/input-bg.png) repeat-x top;
	padding: 4px 5px;
	-webkit-box-shadow: 0 1px rgba(0, 0, 0, .05);
	-moz-box-shadow: 0 1px rgba(0,0,0,.05);
	box-shadow: 0 1px rgba(0, 0, 0, .05);
	width: 250px;
	height: 27px;
}
.admin-panel-content p {
	margin: 0;
	padding: 10px 0;
	clear: both;
}
div.option-item {
	clear: both;
	padding: 8px 15px;
	overflow: hidden;
	background: url(../images/sep.png) repeat-x bottom;
	position: relative;
}
div.option-item:last-child {
	background: transparent;
}
.weblusivepanel-item .label {
	width: 205px;
	display: inline-block;
	float: left;
	padding-top: 4px;
	font-size: 11pt;
}
.tags-list {
	padding-right: 250px;
	display: none;
}
.mo-help {
	background: url(../images/help.png) no-repeat top;
	width: 16px;
	height: 16px;
	display: inline-block;
	cursor: help;
	position: absolute;
	top: 19px;
	right: 10px;
}
#theme-pattern {
	height: 281px;
	overflow: auto;
}
#theme-pattern img {
	border-color: #cdcdcd;
}
.weblusive-options li {
	float: left;
	margin: 5px 21px;
}
.weblusive-options img {
	background: white;
	padding: 4px;
	margin: 0 0 5px;
	border: solid 1px #CCC;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
}
.weblusive-options img:hover {
	background: #33B5E5 !important;
}
.weblusive-options .selected img {
	background: #ffc000 !important;
}
.weblusive-options li input {
	display: none;
}
.img-preview {
	margin: 10px 0;
	text-align: left;
	border: 4px solid #CCC;
	float: right;
	clear: both;
	position: relative;
	line-height: 0;
}
.img-preview img {
	max-width: 100%;
}
.img-preview .del-img {
	position: absolute;
	left: -10px;
	bottom: -10px;
	background: url(../images/delete.png) no-repeat top;
	width: 20px;
	height: 20px;
	cursor: pointer;
}
#cat_sortable li, #sidebarsList li, #customList li {
	margin: 5px 0 10px;
	overflow: hidden;
	list-style: none;
}
.ui-state-highlight {
	background-color: #fffdea;
	border: 1px dashed #ffd38c;
	height: 50px;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.ui-state-default {
	border: 1px solid #ddd;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
#cat_sortable .widget-head, #sidebarsList .widget-head, #customList .widget-head {
	background-color: #777;
	background-image: -ms-linear-gradient(bottom, #6D6D6D, gray);
	background-image: -moz-linear-gradient(bottom, #6D6D6D, gray);
	background-image: -o-linear-gradient(bottom, #6D6D6D, gray);
	background-image: -webkit-gradient(linear, left bottom, left top, from(#6D6D6D), to(gray));
	background-image: -webkit-linear-gradient(bottom, #6D6D6D, gray);
	background-image: linear-gradient(bottom, #6D6D6D, gray);
	padding: 7px;
	cursor: move;
	font-weight: bold;
	color: #FFF;
}
#cat_sortable .widget-content {
	background: #F9F9F9;
	padding: 10px;
	display: none;
	position: relative;
}
#cat_sortable .widget-content label {
	line-height: 25px;
	display: block;
	padding: 5px 0;
}
#cat_sortable .widget-content label span {
	padding-right: 5px;
	width: 200px;
	display: inline-block;
}
#cat_sortable .widget-content textarea {
	width: 482px;
	height: 100px;
}
#sidebarsList,, #customList {
padding-top:10px;
}
#sidebarsList li, #customList li {
	margin: 10px 0 0;
}
#sidebarsList .widget-head, #customList .widget-head {
	background-color: #777;
	background-image: -ms-linear-gradient(bottom, #6D6D6D, gray);
	background-image: -moz-linear-gradient(bottom, #6D6D6D, gray);
	background-image: -o-linear-gradient(bottom, #6D6D6D, gray);
	background-image: -webkit-gradient(linear, left bottom, left top, from(#6D6D6D), to(gray));
	background-image: -webkit-linear-gradient(bottom, #6D6D6D, gray);
	background-image: linear-gradient(bottom, #6D6D6D, gray);
	padding: 7px;
	font-weight: bold;
	color: #FFF;
	border: 1px solid #ddd;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	position: relative;
}
#customList .widget-head a {
	color: #FFF;
	text-decoration: none;
}
#customList .widget-head a:hover {
	text-decoration: underline;
}
.del-sidebar, .del-custom-text {
	position: absolute;
	right: 5px;
	top: 5px;
	background: url(../images/delete.png) no-repeat top;
	width: 20px;
	height: 20px;
	cursor: pointer;
}
.del-cat {
	background: url(../images/trash.png) no-repeat top;
	display: block;
	z-index: 99999;
	width: 16px;
	height: 16px;
	float: right;
	cursor: pointer;
	position: absolute;
	top: 10px;
	right: 10px;
}
a.toggle-open, a.toggle-close {
	float: right;
	color: #FFF;
	cursor: pointer;
	font-size: 12pt;
	padding: 2px 10px;
}
a.toggle-close {
	display: none;
}
#tabs_cats li {
	list-style: none;
	display: block;
	float: left;
}
#tabs_cats li input {
	display: none;
}
#tabs_cats .ui-state-highlight {
	display: block;
	cursor: pointer;
	width: 162px;
	float: left;
	margin: 0px 15px 15px 0px;
	height: 30px;
}
#tabs_cats li span {
	display: block;
	cursor: pointer;
	width: 132px;
	float: left;
	margin: 0px 15px 15px 0px;
	background: url(../images/no.png) no-repeat left;
	padding: 4px;
	padding-left: 30px;
}
#tabs_cats li.selected span {
	background: url(../images/yes.png) no-repeat left;
}
.weblusivepanel-item {
	margin: 0 0 20px;
	background: #fff;
	-webkit-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, .3);
	-moz-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, .3);
	box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, .3);
	overflow: hidden;
	clear: both;
	position: relative;
}
.weblusivepanel-item h3 {
	background: linear-gradient(to bottom, rgba(254,254,254,1) 0%, rgba(243,243,243,1) 100%);
	border-bottom: 1px solid #ccc;
	margin: 0 0 10px;
	padding: 8px 10px;
	cursor: default !important;
	font-size: 14px;
}
.ui-slider {
	background-color: #F1F1F1;
	background-image: -ms-linear-gradient(top, #F9F9F9, #ECECEC);
	background-image: -moz-linear-gradient(top, #F9F9F9, #ECECEC);
	background-image: -o-linear-gradient(top, #F9F9F9, #ECECEC);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#F9F9F9), to(#ECECEC));
	background-image: -webkit-linear-gradient(top, #F9F9F9, #ECECEC);
	background-image: linear-gradient(top, #F9F9F9, #ECECEC);
	border: 1px solid #E6E6E6;
	height: .8em;
	position: relative;
	text-align: left;
	width: 230px;
	margin-top: 8px;
	float: left;
	margin-right: 15px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 1.2em;
	height: 1.5em;
	cursor: default;
	background: #33B5E5;
	background: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #33B5E5), color-stop(100%, #16a5d7));
	background: -webkit-linear-gradient(top, #33B5E5 0, #16a5d7 100%);
	background: -moz-linear-gradient(top, #33B5E5 0, #16a5d7 100%);
	background: -o-linear-gradient(top, #33B5E5 0, #16a5d7 100%);
	background: -ms-linear-gradient(top, #33B5E5 0, #16a5d7 100%);
	background: linear-gradient(top, #33B5E5 0, #16a5d7 100%);
	font-weight: normal;
	color: #555;
	top: -.5em;
	margin-left: -.6em;
	cursor: pointer;
}
.home-builder-buttons {
	margin: 10px 0 20px;
}
.home-builder-buttons a {
	background: url(../images/add.png) no-repeat top left;
	padding-left: 18px;
	margin-right: 14px;
	cursor: pointer;
}
#add-divider {
	margin-right: 0;
}
#cat_sortable li.removered .widget-head, #sidebarsList li.removered .widget-head, #customList li.removered .widget-head {
	background: #ff0000;
}
#cat_sortable li.removered .widget-content, #weblusive-slider-items li.removered .widget-content {
	background: #ffeded;
}
#collapse-all, #expand-all {
	font-size: 90%;
	float: right;
	margin-left: 10px;
	margin-right: 3px;
	cursor: pointer;
	color: #888;
}
#collapse-all:hover, #expand-all:hover {
	color: #000;
	text-decoration: underline;
}
#weblusive-slider-items .widget-content {
	background: #fff;
	padding: 10px;
	position: relative;
}
#weblusive-slider-items .widget-content label {
	line-height: 25px;
	display: block;
	padding: 7px 0;
}
#weblusive-slider-items .widget-content label span {
	padding-right: 5px;
	width: 95px;
	display: inline-block;
}
#weblusive-slider-items .widget-content textarea {
	width: 482px;
	height: 50px;
}
#weblusive-slider-items li {
	-webkit-box-shadow: 0 1px rgba(0, 0, 0, .05);
	-moz-box-shadow: 0 1px rgba(0,0,0,.05);
	box-shadow: 0 1px rgba(0, 0, 0, .05);
}
#weblusive-slider-items .slider-img {
	display: inline;
	float: right;
	margin: 0;
	margin-right: 5px;
	margin-top: 8px;
	overflow: hidden;
	width: 80px;
	height: 80px;
	border: 2px dotted #ccc;
	z-index: 999;
}
#weblusive-slider-items img {
	height: 150px;
	width: 150px;
	margin: -40px;
}
#weblusive-slider-items .del-cat {
	bottom: 10px;
	top: auto;
}
.weblusive-cats-options li {
	margin-right: 8px !important;
}
.weblusive-cats-options li img {
	width: 100px;
}
#save-alert {
	margin: -40px 0 0 -40px;
	height: 80px;
	width: 80px;
	background: rgba(0, 0, 0, .8) url(../images/loading.gif) no-repeat center;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 100;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	display: none;
}
.save-done {
	background: rgba(0, 0, 0, .8) url(../images/done.png) no-repeat center !important;
}
.save-error {
	background: rgba(0, 0, 0, .8) url(../images/error.png) no-repeat center !important;
}
.jquery-checkbox {
	display: inline;
	font-size: 20px;
	line-height: 20px;
	cursor: pointer;
}
.jquery-checkbox .mark {
	display: inline;
}
.jquery-checkbox img {
	vertical-align: middle;
	width: 80px;
	height: 23px;
}
.jquery-checkbox img {
	background: transparent url(../images/checkbox.png) no-repeat;
}
.jquery-checkbox img {
	background-position: 0px bottom;
}
.jquery-checkbox-checked img {
	background-position: 0px 0;
}
.color-pic {
	position: relative;
	width: 28px;
	height: 28px;
	float: left;
	margin-right: 5px;
}
.color-pic div {
	background: url(../images/select2.png) center;
	position: absolute;
	width: 28px;
	height: 28px;
}
.colorpicker {
	width: 356px;
	height: 176px;
	overflow: hidden;
	position: absolute;
	background: url(../images/colorpicker_background.png);
	font-family: Arial, Helvetica, sans-serif;
	display: none;
}
.colorpicker_color {
	width: 150px;
	height: 150px;
	left: 14px;
	top: 13px;
	position: absolute;
	background: #f00;
	overflow: hidden;
	cursor: crosshair;
}
.colorpicker_color div {
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 150px;
	background: url(../images/colorpicker_overlay.png);
}
.colorpicker_color div div {
	position: absolute;
	top: 0;
	left: 0;
	width: 11px;
	height: 11px;
	overflow: hidden;
	background: url(../images/colorpicker_select.gif);
	margin: -5px 0 0 -5px;
}
.colorpicker_hue {
	position: absolute;
	top: 13px;
	left: 171px;
	width: 35px;
	height: 150px;
	cursor: n-resize;
}
.colorpicker_hue div {
	position: absolute;
	width: 35px;
	height: 9px;
	overflow: hidden;
	background: url(../images/colorpicker_indic.gif) left top;
	margin: -4px 0 0 0;
	left: 0px;
}
.colorpicker_new_color {
	position: absolute;
	width: 60px;
	height: 30px;
	left: 213px;
	top: 13px;
	background: #f00;
}
.colorpicker_current_color {
	position: absolute;
	width: 60px;
	height: 30px;
	left: 283px;
	top: 13px;
	background: #f00;
}
.colorpicker input {
	background-color: transparent;
	border: 1px solid transparent;
	position: absolute;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: #898989;
	top: 4px;
	right: 11px;
	text-align: right;
	margin: 0;
	padding: 0;
	height: 11px;
}
.colorpicker_hex {
	position: absolute;
	width: 72px;
	height: 22px;
	background: url(../images/colorpicker_hex.png) top;
	left: 212px;
	top: 142px;
}
.colorpicker_hex input {
	right: 6px;
}
.colorpicker_field {
	height: 22px;
	width: 62px;
	background-position: top;
	position: absolute;
}
.colorpicker_field span {
	position: absolute;
	width: 12px;
	height: 22px;
	overflow: hidden;
	top: 0;
	right: 0;
	cursor: n-resize;
}
.colorpicker_rgb_r {
	background-image: url(../images/colorpicker_rgb_r.png);
	top: 52px;
	left: 212px;
}
.colorpicker_rgb_g {
	background-image: url(../images/colorpicker_rgb_g.png);
	top: 82px;
	left: 212px;
}
.colorpicker_rgb_b {
	background-image: url(../images/colorpicker_rgb_b.png);
	top: 112px;
	left: 212px;
}
.colorpicker_hsb_h {
	background-image: url(../images/colorpicker_hsb_h.png);
	top: 52px;
	left: 282px;
}
.colorpicker_hsb_s {
	background-image: url(../images/colorpicker_hsb_s.png);
	top: 82px;
	left: 282px;
}
.colorpicker_hsb_b {
	background-image: url(../images/colorpicker_hsb_b.png);
	top: 112px;
	left: 282px;
}
.colorpicker_submit {
	position: absolute;
	width: 22px;
	height: 22px;
	background: url(../images/colorpicker_submit.png) top;
	left: 322px;
	top: 142px;
	overflow: hidden;
}
.colorpicker_focus {
	background-position: center;
}
.colorpicker_hex.colorpicker_focus {
	background-position: bottom;
}
.colorpicker_submit.colorpicker_focus {
	background-position: bottom;
}
.colorpicker_slider {
	background-position: bottom;
}
#slider_cat-item, #slider_posts-item, #slider_pages-item, #slider_custom-item, #weblusive_video_url-item, #_weblusive_post_slider-item, #_weblusive_promotext {
	display: none;
}
#weblusive_hide_meta, #weblusive_hide_author, #weblusive_hide_share, #weblusive_hide_related {
	width: 60px;
}
.mo-footer {
	background-color: #F1F1F1;
	margin: 0 -20px -20px;
	border-top: 4px solid #ddd;
	padding: 10px;
	position: absolute;
	bottom: 20px;
	width: 735px;
}
.portfolio-listing li {
	display: inline;
	margin-right: 10px
}
#theme-skins li {
	margin: 5px 13px;
}
#theme-skins img {
	max-width: 250px;
}
input.minimal-textbox.custom-tm {
	width: 40px !important;
	margin-top: 4px
}
/**************** PRICING TABLES  ********************/

#pricing-table {
	margin: 20px 10px
}
#pricing-table .column {
	position: relative;
	height: 100%;
	text-align: center;
	margin: 0;
}
#pricing-table li {
	line-height: 36px;
	list-style: none;
	padding: 4px 6px 6px;
	font-size: 16px;
	color: #999999
}
#pricing-table li.last-item {
	background: none
}
#pricing-table li.table-head {
	background: url('../images/bg.jpg');
	padding: 10px
}
#pricing-table ul {
	width: 274px;
	background: url('../images/content_bg.jpg');
	margin-left: 8px;
	margin-right: 8px;
	border: dotted 1px #ccc
}
#pricing-table li.table-footer {
	background: #fafafa !important;
	padding: 10px 0px;
	margin: 10px 0 0 0;
	border-top: 1px solid #FFFFFF;
}
#pricing-table li.table-footer label {
	color: #333;
	font-size: 13px;
	font-weight: bold;
	display: inline-block;
	width: 58px
}
#pricing-table li.table-footer p {
	background: url('../images/sep.png') repeat-y right;
	padding: 4px 0px
}
#pricing-table h2 {
	background: #333 no-repeat right;
	font-size: 18px;
	color: #fff;
	margin-bottom: 0;
}
#pricing-table h2 span {
	font-size: 30px;
	color: #ff9933
}
#pricing-table h2 sup {
	font-size: 14px
}
#pricing-table input[type="text"] {
	width: auto;
	font-size: 15px
}
#pricing-table .table-head input[type="text"] {
	margin-bottom: 10px;
	margin-top: 10px
}
#pricing-table .table-head label {
	display: inline-block;
	width: 40px;
	margin-left: 0;
	font-size: 13px;
	font-weight: bold;
	color: #eee;
}
#pricing-table label {
	width: 150px;
	margin-left: 8px;
	text-align: left;
	line-height: 16px
}
#pricing-table .table-footer select {
	width: 180px
}
#pricing-table .table-footer p {
	margin: 0px
}
#pricing-table li.table-footer p.ibadge {
	border-top: dotted 1px #ccc;
	margin-top: 20px;
	padding-top: 20px
}
column, .columns {
	float: left;
	display: inline;
}
.list-table {
	border-collapse: collapse;
	width: 100%;
	border-left: solid 1px #ccc;
	border-bottom: solid 1px #ccc;
}
.list-table th {
	color: #fff;
	padding: 8px;
	text-align: left;
	font-weight: bold;
	background: #222;
	border-right: solid 1px #bbb;
}
.list-table td {
	padding: 0.2em;
	color: #111;
	border-right: solid 1px #ccc;
	padding: 10px;
}
.list-table tr td {
	background: #f9f9f9;
	background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#ebebeb));
	background: -moz-linear-gradient(top, #f9f9f9, #ebebeb);
}
.list-table tr.alternate td {
	background: #e8e8e8;
	background: -webkit-gradient(linear, left top, left bottom, from(#e3e3e3), to(#e8e8e8));
	background: -moz-linear-gradient(top, #e3e3e3, #e8e8e8);
}
li.error-image {
	background: url('../img/error.png') no-repeat right top;
}
ul.stepy-titles {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	margin-bottom: 20px;
}
ul.stepy-titles li {
	color: #ddd;
	cursor: pointer;
	font: bold 16px arial;
	float: left;
	padding: 10px;
	border: dotted 1px #CCC;
	margin-right: 20px;
	background-color: white;
	cursor: pointer;
	display: inline-block;
	height: 40px;
	margin: 0 30px 30px 0;
	padding: 10px;
	text-align: left;
	width: 125px;
	-webkit-box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, .3);
	box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, .3);
	position: relative;
	transition: all .2s linear;
	-webkit-transition: all .2s linear; /* Safari */
}
ul.stepy-titles li.current-step {
	color: #111;
	cursor: auto;
	background: #F8F8F8;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#eee));
	background: -moz-linear-gradient(top, #f8f8f8, #eee);
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#eeeeee');
}
ul.stepy-titles li span {
	font: 11px verdana;
	display: block;
	margin-top: 6px
}
.wp_themeSkin .mceSeparator {
	border-right: solid 1px #eee;
	border-left: solid 1px #ddd;
	height: 24px;
	margin: 0px 6px;
	display: block !important
}
.admin-panel-content p.info {
	color: #3a87ad;
	background-color: #d9edf7;
	border-color: #bce8f1;
	padding: 8px 10px;
	margin-bottom: 20px
}
/*****************************************************/

/* ---------------------------------------------
 Tooltip
------------------------------------------------ */
.right10 {
	margin-right: 10px;
}
.hint-title {
	font-weight: bold;
	border-bottom: solid 1px #ccc;
	padding-bottom: 4px;
}
a.tooltip, a.tooldown {
	display: inline-block;
}
.tipsy {
	font-size: 11px;
	position: absolute;
	padding: 5px;
	z-index: 100000;
}
.tipsy-inner {
	font-size: 12px !Important;
	line-height: 16px;
	background-color: #33B5E5;
	color: #FFF;
	max-width: 200px;
	padding: 5px 8px 4px 8px;
	text-align: center;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: 0 0 2px #fff;
	-webkit-box-shadow: 0 0 2px #fff;
	-moz-box-shadow: 0 0 2px #fff;
}
.tipsy-arrow {
	position: absolute;
	width: 0;
	height: 0;
	line-height: 0;
	border: 5px dashed #33B5E5;
}
.tipsy-arrow-n {
	border-bottom-color: #33B5E5;
}
.tipsy-arrow-s {
	border-top-color: #33B5E5;
}
.tipsy-arrow-e {
	border-left-color: #33B5E5;
}
.tipsy-arrow-w {
	border-right-color: #33B5E5;
}
.tipsy-n .tipsy-arrow {
	top: 0px;
	left: 50%;
	margin-left: -5px;
	border-bottom-style: solid;
	border-top: none;
	border-left-color: transparent;
	border-right-color: transparent;
}
.tipsy-nw .tipsy-arrow {
	top: 0;
	left: 10px;
	border-bottom-style: solid;
	border-top: none;
	border-left-color: transparent;
	border-right-color: transparent;
}
.tipsy-ne .tipsy-arrow {
	top: 0;
	right: 10px;
	border-bottom-style: solid;
	border-top: none;
	border-left-color: transparent;
	border-right-color: transparent;
}
.tipsy-s .tipsy-arrow {
	bottom: 0;
	left: 50%;
	margin-left: -5px;
	border-top-style: solid;
	border-bottom: none;
	border-left-color: transparent;
	border-right-color: transparent;
}
.tipsy-sw .tipsy-arrow {
	bottom: 0;
	left: 10px;
	border-top-style: solid;
	border-bottom: none;
	border-left-color: transparent;
	border-right-color: transparent;
}
.tipsy-se .tipsy-arrow {
	bottom: 0;
	right: 10px;
	border-top-style: solid;
	border-bottom: none;
	border-left-color: transparent;
	border-right-color: transparent;
}
.tipsy-e .tipsy-arrow {
	right: 0;
	top: 50%;
	margin-top: -5px;
	border-left-style: solid;
	border-right: none;
	border-top-color: transparent;
	border-bottom-color: transparent;
}
.tipsy-w .tipsy-arrow {
	left: 0;
	top: 50%;
	margin-top: -5px;
	border-right-style: solid;
	border-left: none;
	border-top-color: transparent;
	border-bottom-color: transparent;
}
/*Old Style*/
  
  
  
  
  
  
  
  
  
  /**/
#header {
	background: none repeat scroll 0 0 #FFFFFF;
	border-color: #E5E5E5;
	border-left: 5px solid #E5E5E5;
	border-right: 5px solid #E5E5E5;
 border-left:;
	border-style: solid;
	border-width: 5px;
	height: 106px;
	margin: 15px 0 0;
	padding: 0 21px;
	width: 770px;
	display: none !important;
}
.pixhealth_wrap {
	width: 790px;
	min-height: 500px;
	margin: 20px 0 20px;
	background: none repeat scroll 0 0 #222;
	padding-right: 20px;
}
#main_wrap {
	-moz-border-radius: 6px 6px 6px 6px;
	background: none repeat scroll 0 0 #F8F8F8;
	padding: 10px;
}
h2#main-title {
	background: -webkit-gradient(linear, left top, left bottom, from(#54b3db), to(#217bbe));
	background: -moz-linear-gradient(top, #54b3db, #217bbe);
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#54b3db', endColorstr='#217bbe');
	border: none;
	color: #FFF;
	padding: 4px 6px;
	margin: 10px 0px;
	font-size: 18px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
#logo-container {
	float: none;
	margin-left: 4px;
	margin-top: 44px;
	text-align: center;
	width: 100%;
}
#admin-panel {
	display: none;
	float: right;
}
#admin-panel p {
	color: #ccc;
	font-weight: bold;
	letter-spacing: 1px;
	line-height: 100%;
	text-transform: uppercase;
	font-size: 10px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	display: table-cell;
	height: 106px;
	vertical-align: middle
}
.tg-title {
	color: #eee;
	font-size: 16px;
	font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 18px 6px 6px 6px
}
.pixhealth_section {
	background: #eee;
}
.pixhealth_opts label {
	font-size: 12px;
	font-weight: 700;
	width: 122px;
	display: block;
	float: left;
}
.pixhealth_input {
	padding: 30px 10px;
	border-bottom: solid 1px #DDD;
}
.pixhealth_opts small {
	display: block;
	float: right;
	width: 150px;
	color: #666;
}
.pixhealth_opts li {
	list-style: none;
}
.pixhealth_opts input[type="text"], .pixhealth_select select, .pixhealth_input textarea, .form input[type="text"], .form textarea, .r-upload .file {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #CCCCCC;
	color: #333333;
	font-size: 12px;
	line-height: 1em;
	padding: 4px;
	width: 240px;
}
.pixhealth_opts input[type="submit"], .al-button {
	background: none repeat scroll 0 0 #2ea2cc;
	border: 1px solid #0074a2;
	box-shadow: 0 1px 0 rgba(120, 200, 230, 0.5) inset, 0 1px 0 rgba(0, 0, 0, 0.15);
	color: #fff;
	cursor: pointer;
	font-size: 11px;
	padding: 7px 15px;
	text-decoration: none;
}
.pixhealth_opts input[type="submit"]:hover, .al-button:hover {
	opacity: 0.8;
}
.pixhealth_input.pixhealth_select select {
	height: 28px
}
.red-back {
	border: solid 1px #950000;
	background: #fd2323;
	background: -webkit-gradient(linear, left top, left bottom, from(#fd2323), to(#a50202));
	background: -moz-linear-gradient(top, #fd2323, #a50202);
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#fd2323', endColorstr='#a50202');
}
a.red-back {
	color: #FFF;
	padding: 2px 6px;
}
a.pix-button {
	text-decoration: none;
}
.pixhealth_input input:focus, .al_input textarea:focus {
	-moz-box-shadow: 0 0 8px #BBB;
	-webkit-box-shadow: 0 0 8px lightblue;
	box-shadow: 0 0 8px lightblue;
}
.pixhealth_input textarea {
	width: 240px;
	height: 175px;
	font-size: 12px;
	padding: 4px;
	color: #333;
	line-height: 1.5em;
}
.pixhealth_title h3 {
	cursor: pointer;
	font-size: 16px;
	margin: 0;
	font-weight: bold;
	color: #333;
	float: left;
	width: 68%;
	padding: 14px 4px;
}
.pixhealth_section h3 {
	cursor: pointer;
	border: 1px solid #ddd;
	border-bottom: 0;
	color: #666;
	background: #333;
	padding: 0;
}
.pixhealth_title h3 img.inactive {
	margin: 0px 10px 0 2px;
	width: 29px;
	height: 29px;
	background: url('images/pointer.png') no-repeat 0 0;
	float: left;
}
.pixhealth_title h3 img.active {
	margin: 0px 10px 0 2px;
	width: 29px;
	height: 29px;
	background: url('images/pointer.png') no-repeat 0 -29px;
	float: left;
}
.pixhealth_title span.submit {
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	padding: 14px 6px;
}
.clearfix, .clear {
	clear: both;
}
.clearbig {
	clear: both;
	height: 20px
}
.pixhealth_table th, .al_table td {
	border: 1px solid #bbb;
	padding: 10px;
	text-align: center;
}
.pixhealth_table th, .al_table td.feature {
	border-color: #888;
}
#footer-block {
	text-align: right;
	padding: 20px 0px;
}
.font-preview {
	margin-left: 123px;
	margin-top: 20px
}
.font-preview a {
	background: url('../images/preview.png') no-repeat left;
	padding-left: 20px;
	color: #333;
	font-weight: bold;
	font-size: 11px
}
/******************  MESSAGE BLOCKS  *****************/

#messages {
	margin-left: 17px;
	padding: 10px 0px;
}
#messages p {
	color: #FFF;
	font-weight: bold;
	font-size: 12px;
	padding: 0px 10px 0px 35px;
}
.info-message, .update-message, .success-message, .warning-message, .error-message {
	width: auto;
	display: block;
}
.info-message, .update-message {
	background: none repeat scroll 0 0 #0074a2;
	border: 1px solid #0074a2;
}
.warning-message {
	background: none repeat scroll 0 0 red;
	border: 1px solid red;
}
.success-message {
	background: none repeat scroll 0 0 #d2583e;
	border: 1px solid #d2583e;
}
.error-message {
	border: 1px solid #e2918d;
	background: #ffcfcd url(../images/action-error.png) 10px center no-repeat;
}
/*****************************************************/


/*********************  UPLOADS  *********************/
.r-upload .select-file input {
	margin-left: -82px !important;
}
.r-upload .select-file {
	background: url("../images/folder-open.png") no-repeat scroll right center rgba(0, 0, 0, 0);
	cursor: pointer;
	display: inline;
	height: 30px;
	margin-left: 4px;
	overflow: hidden;
	position: absolute;
	width: 24px;
}
.r-upload .file {
	padding: 6px;
	display: inline;
	width: 150px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
.r-upload {
	padding-bottom: 10px;
	overflow: hidden;
	width: 100%;
	float: left;
	clear: left;
}
/*****************************************************/


/****************  VERTICAL TABS  ********************/

.vtabs {
	position: relative
}
.vtabs .vtabs-tab-column {
	position: absolute;
	left: 17px;
	margin: 0;
	width: 170px;
	min-width: 170px;
}
.vtabs .vtabs-tab-column ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.vtabs .vtabs-tab-column ul li.open, .vtabs .vtabs-tab-column ul li.closed {
	cursor: pointer;
	margin-bottom: 1px;
	margin-right: -1px;
	min-height: 20px;
	z-index: 10;
	color: #797979;
	display: block;
	font: normal normal bold 12px/18px sans-serif;
	padding: 10px 10px 10px 11px;
	text-decoration: none;
}
.vtabs .vtabs-tab-column ul li:hover, .vtabs .vtabs-tab-column ul li.open {
	background: none repeat scroll 0 0 #eee;
	color: #333;
	width: 157px;
}
.vtabs .vtabs-tab-column ul li a.open, .vtabs .vtabs-tab-column ul li a.closed {
	font: 12px Helvetica, Arial, sans-serif;
	font-weight: bold;
	margin: 0px;
	text-decoration: none;
	color: #eee;
	display: block;
	height: 20px;
	line-height: 20px;
	padding: 5px 5px 5px 5px;
	background: none !important;
	text-transform: uppercase;
}
.vtabs .vtabs-tab-column ul li a.closed {
	color: #eee;
}
.vtabs .vtabs-tab-column ul li a.open {
	color: #666666;
}
.vtabs .vtabs-tab-column ul li a {
	background-repeat: no-repeat;
	background-position: left;
}
.vtabs .vtabs-tab-column ul li:hover a, .vtabs .vtabs-tab-column ul li.open {
	color: #333;
	text-shadow: none;
}
.vtabs .vtabs-tab-column ul li a#sliders {
	background-image: url('../images/sliders.png')
}
.vtabs .vtabs-tab-column ul li a#general-settings {
	background-image: url("../images/cog.png")
}
.vtabs .vtabs-tab-column ul li a#home-page {
	background-image: url('../images/home.png')
}
.vtabs .vtabs-tab-column ul li a#blog {
	background-image: url("../images/wordpress.png")
}
.vtabs .vtabs-tab-column ul li a#uc-page {
	background-image: url("../images/cogs.png")
}
.vtabs .vtabs-tab-column ul li a#portfolio-page {
	background-image: url('../images/portfolio.png')
}
.vtabs .vtabs-tab-column ul li a#styles {
	background-image: url("../images/wand.png")
}
.vtabs .vtabs-tab-column ul li a#footer-section {
	background-image: url("../images/paragraph-center2.png")
}
.vtabs .vtabs-tab-column ul li a#header-section {
	background-image: url('../images/header.png')
}
.vtabs .vtabs-tab-column ul li a#contact-form {
	background-image: url("../images/mail2.png")
}
.vtabs .vtabs-tab-column ul li a#misc {
	background-image: url("../images/code.png")
}
.vtabs .vtabs-tab-column ul li a#woocommerce-section {
	background-image: url("../images/cart2.png")
}
.vtabs .vtabs-tab-column ul li a:hover {
	color: #333
}
.vtabs .vtabs-content-column {
	padding: 0px;
	margin: 0px;
}
.vtabs .vtabs-content-column .vtabs-content-panel {
	background: none repeat scroll 0 0 #eee;
	margin: 0 0 0 20px;
	padding: 3px 10px;
}
/*****************************************************/


/***************  FORM AND BUTTONS  ******************/

.skin-background {
	float: left;
	width: 136px;
	height: 136px;
	text-align: center;
	margin-bottom: 10px;
}
.skin-background img {
	display: block;
	width: 94px;
	height: 94px;
	border: solid 1px #CCC;
	padding: 7px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}
.backgrounds {
	float: left;
	width: 544px;
}
.skin-background label {
	float: none;
	display: inline;
	padding-left: 0;
	font-size: 10px;
}
a.button-back, a.button-next, input.finish, fieldset.step {
	border-radius: 4px;
	-khtml-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	color: #333
}
a.button-back:hover, a.button-next:hover, input.finish:hover {
	background-color: #6699CC;
}
.button-back {
	float: left;
	text-decoration: none;
}
.button-next {
	float: right;
	text-decoration: none;
}
.form {
	clear: both;
}
.form input {
	color: #333;
	padding: 0.4em;
	font-size: 12px
}
.form textarea {
	width: 766px;
	height: 250px;
	margin: 10px 0px;
}
fieldset.step {
	border: 1px solid #DDD;
	clear: left;
	font-size: 10px;
	background: #EEE;
	padding: 10px;
	min-height: 300px;
}
fieldset.step label {
	font: bold 12px;
	margin: 4px 0 0px 7px;
}
.form fieldset.step legend {
	color: #333;
	font-weight: bold;
	font-size: 10px;
	padding: 0 8px 4px 8px;
	background: #eee;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-border-radius: 4px
}
.form fieldset.step input, fieldset.step textarea, fieldset.step select {
	border: 1px solid #AAA;
	font: 10px verdana;
	margin-left: 7px;
}
.form input.finish {
	border-style: none;
	cursor: pointer;
	float: right;
	text-decoration: none;
}
/*****************************************************/


/*************  LISTS AND TABLE STYLES  **************/

.list-table {
	border-collapse: collapse;
	width: 100%;
	border-left: solid 1px #ccc;
	border-bottom: solid 1px #ccc;
}
.list-table th {
	color: #fff;
	padding: 8px;
	text-align: left;
	font-weight: bold;
	background: #222;
	border-right: solid 1px #bbb;
}
.list-table td {
	padding: 0.2em;
	color: #111;
	border-right: solid 1px #ccc;
	padding: 10px;
}
.list-table tr td {
	background: #f9f9f9;
	background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#ebebeb));
	background: -moz-linear-gradient(top, #f9f9f9, #ebebeb);
}
.list-table tr.alternate td {
	background: #e8e8e8;
	background: -webkit-gradient(linear, left top, left bottom, from(#e3e3e3), to(#e8e8e8));
	background: -moz-linear-gradient(top, #e3e3e3, #e8e8e8);
}
li.error-image {
	background: url('../img/error.png') no-repeat right top;
}
ul.stepy-titles {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	margin-bottom: 20px;
}
ul.stepy-titles li {
	color: #ddd;
	cursor: pointer;
	font: bold 16px arial;
	float: left;
	padding: 10px;
	border: dotted 1px #CCC;
	margin-right: 20px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}
ul.stepy-titles li.current-step {
	color: #111;
	cursor: auto;
	background: #F8F8F8;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#eee));
	background: -moz-linear-gradient(top, #f8f8f8, #eee);
filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#eeeeee');
}
ul.stepy-titles li span {
	font: 11px verdana;
	display: block;
}
/*****************************************************/


/*******************  TOGGLES  ***********************/

h2.toggle-trigger {
	border: 1px solid #E5E5E5;
	height: 33px;
	line-height: 33px;
	margin: 10px 0 5px;
	padding: 4px 4px 4px 8px;
}
h2.toggle-trigger a {
	padding-left: 36px;
	color: #666666;
	text-transform: uppercase;
	line-height: 33px;
	text-decoration: none;
	display: block;
	outline: none;
	font-weight: bold;
	font-size: 14px;
	background: url(../images/toggle.png) no-repeat 0px -32px;
	text-shadow: none
}
h2.active a {
	background: url(../images/toggle.png) no-repeat 0px 0px;
}
.toggle-container {
	border: dotted 1px #CCC;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.toggle-container .block {
	padding: 20px;
}
.toggle-container .block p {
	margin: 5px 0;
}
/*****************************************************/


/**************** PRICING TABLES  ********************/

#pricing-table {/*background: url('images/body_bg.png'); */
}
#pricing-table .column {
	position: relative;
	height: 100%;
	text-align: center;
	margin: 0;
}
#pricing-table li {
	line-height: 36px;
	background: url('../../../images/table_list_sep.png') no-repeat bottom;
	list-style: none;
	padding: 4px 6px 6px;
	font-size: 16px;
	color: #999999
}
#pricing-table li.last-item {
	background: none
}
#pricing-table li.table-head {
	background: url('../../../images/button_bg.png') #464F5C;
	padding: 0
}
#pricing-table ul {
	background: url('../../../images/body_bg.png');
	width: 170px;
}
#pricing-table li.table-footer {
	background: url('../../../images/button_bg.png') #fafafa !important;
	padding: 10px 0px;
	margin: 10px 0 0 0;
	border-top: 1px solid #FFFFFF;
}
#pricing-table li.table-footer p {
	background: url('../../../images/table_body_sep.png') repeat-y right;
	padding: 4px 0px
}
#pricing-table .column:last-child {
	margin-right: 0;
}
#pricing-table .column.featured {
	cursor: pointer;
	-webkit-transition: box-shadow 0.25s ease;
	-moz-transition: box-shadow 0.25s ease;
	-o-transition: box-shadow 0.25s ease;
	-ms-transition: box-shadow 0.25s ease;
	transition: box-shadow 0.25s ease;
	position: relative;
	z-index: 100;
	left: 0px;
	top: -4px;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
}
#pricing-table .column.featured ul {
	background: #fff url('../../../images/button_bg.png')
}
#pricing-table .column.featured table-head {
	background: #ff9933;
	padding-top: 4px
}
#pricing-table .column.featured h2 {
	color: #FFF;
	background: none
}
#pricing-table .column.featured h2 span {
	color: #464F5C
}
#pricing-table h2 {
	background: url('../../../images/table_head_sep.png') no-repeat right;
	font-size: 18px;
	color: #fff;
	margin-bottom: 0;
}
#pricing-table h2 span {
	font-size: 30px;
	color: #ff9933
}
#pricing-table h2 sup {
	font-size: 14px
}
#pricing-table input[type="text"] {
	width: 150px;
	margin-left: 0
}
#pricing-table label {
	display: inline;
	width: 40px;
	margin-left: 0
}
#pricing-table label {
	width: 150px;
	margin-left: 8px;
	text-align: left;
	line-height: 16px
}
#pricing-table .table-footer select {
	width: 148px
}
#pricing-table .table-footer p {
	margin: 0px
}
#pricing-table select {
	height: 24px
}
.ibadge {
	border-top: dotted 1px #666;
	margin-top: 10px;
	padding-top: 10px
}
column, .columns {
	float: left;
	display: inline;
}
/******************************************************/
#_promo {
	height: 100px
}
.top15 {
	margin-top: 15px !important
}
input.minimal-textbox {
	width: 30px;
	margin: 15px;
	float: left
}
.form-field ul {
	margin: 0
}
.inline {
	display: inline !important
}
.portfolio-listing {
	margin-top: 5px
}
.portfolio-listing li {
	display: inline;
	margin-right: 10px
}
.slider-container {
	margin: 20px 0px;
	float: left;
	width: 500px
}
.radio-container input[type="radio"] {
	float: left;
	width: 20px
}
.radio-container label {
	float: left
}
.radio-block {
	float: left;
	width: 140px
}
.one_half {
	width: 48%;
	margin-right: 2%;
	float: left
}
.form-wrap label {
	margin-bottom: 6px
}
.form-wrap label strong {
	font-size: 13px
}
.column-order {
	cursor: move;
	width: 80px
}
.column-thumbnail, th.column-thumbnail {
	text-align: center;
}
#portfolio_image {
	text-align: center;
	width: 120px
}
td.column-portfolio_image {
	text-align: center
}
td.column-portfolio_image img {
	width: 100%;
	height: auto;
}
.portfolio-categories-select {
	margin: 20px 0px
}
.fullselect {
	width: 200px
}
.colorTip {
	/* This class is assigned to the color tip span by jQuery */
	
	display: none;
	position: absolute;
	left: 50%;
	top: -30px;
	padding: 6px;
	background-color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: 1;
	text-decoration: none;
	text-align: center;
	white-space: nowrap;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.pointyTip, .pointyTipShadow {
	/* Setting a thick transparent border on a 0x0 div to create a triangle */
	border: 6px solid transparent;
	bottom: -12px;
	height: 0;
	left: 50%;
	margin-left: -6px;
	position: absolute;
	width: 0;
}
.pointyTipShadow {
	/* The shadow tip is 1px larger, so it acts as a border to the tip */
	border-width: 7px;
	bottom: -14px;
	margin-left: -7px;
}
.colorTipContainer {
	position: relative;
	text-decoration: none !important;
}
/* 6 Available Color Themes */

.white .pointyTip {
	border-top-color: white;
}
.white .pointyTipShadow {
	border-top-color: #ddd;
}
.white .colorTip {
	background-color: white;
	border: 1px solid #DDDDDD;
	color: #555555;
}
.yellow .pointyTip {
	border-top-color: #f9f2ba;
}
.yellow .pointyTipShadow {
	border-top-color: #e9d315;
}
.yellow .colorTip {
	background-color: #f9f2ba;
	border: 1px solid #e9d315;
	color: #5b5316;
}
.blue .pointyTip {
	border-top-color: #d9f1fb;
}
.blue .pointyTipShadow {
	border-top-color: #7fcdee;
}
.blue .colorTip {
	background-color: #d9f1fb;
	border: 1px solid #7fcdee;
	color: #1b475a;
}
.green .pointyTip {
	border-top-color: #f2fdf1;
}
.green .pointyTipShadow {
	border-top-color: #b6e184;
}
.green .colorTip {
	background-color: #f2fdf1;
	border: 1px solid #b6e184;
	color: #558221;
}
.red .pointyTip {
	border-top-color: #bb3b1d;
}
.red .pointyTipShadow {
	border-top-color: #8f2a0f;
}
.red .colorTip {
	background-color: #bb3b1d;
	border: 1px solid #8f2a0f;
	color: #fcfcfc;
	text-shadow: none;
}
.black .pointyTip {
	border-top-color: #333;
}
.black .pointyTipShadow {
	border-top-color: #111;
}
.black .colorTip {
	background-color: #333;
	border: 1px solid #111;
	color: #fcfcfc;
	text-shadow: none;
}
#sortable-table-portfolio .column-thumbnail img {
	/*width: 100%;*/
	height: auto;
	max-width: 200px;
}
